In [1]:
import pandas as pd

In [2]:
hist_data = pd.read_csv("NE_buffered_1990s.csv")
hist_data

,fid,OBJECTID,COMID,GNIS_NAME,LENGTHKM,FTYPE,PU_CODE,TOTDASQKM,TIDAL,WBAREATYPE,...,HIQ1_5_HIST,HIQ10_HIST,HIQ25_HIST,LO7Q1_HIST,LO7Q10_HIST,BFI_HIST,LO7Q1DT_HIST,CFM_HIST,W95_HIST,SHAPE_Length
0,1,456026,3820563,,1.857,460,MS05,1.9746,0,NaN,...,3.333218,7.050051,10.166683,0.206541,0.178316,0.318910,254.342857,172.762614,11.917241,0.019032
1,2,456027,3820719,,1.714,460,MS05,1.4022,0,NaN,...,2.365358,5.007214,7.199864,0.146949,0.126855,0.318873,254.314286,172.826443,11.917241,0.018003
2,3,456028,3824263,,0.088,334,MS05,1.4256,0,NaN,...,2.404527,5.091005,7.314648,0.149476,0.129034,0.318859,254.414286,172.843537,11.917241,0.000977
3,4,456029,3822397,,1.357,460,MS05,5.8842,0,NaN,...,10.416898,22.182167,30.533639,0.629736,0.545379,0.317253,257.228571,173.681304,11.717241,0.013212
4,5,456030,3820721,,0.401,460,MS05,0.8712,0,NaN,...,1.470072,3.110688,4.481323,0.091189,0.078723,0.318904,254.342857,172.784820,11.903448,0.003968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345339,345340,2634814,10449782,,0.627,460,SA03N,12.0375,0,NaN,...,4.889134,10.987235,13.963183,0.473159,0.259122,0.303602,243.807143,174.785331,10.558621,0.005682
345340,345341,2634815,10449826,,0.055,460,SA03N,21944.0898,0,NaN,...,0.454634,1.022164,1.327049,0.038567,0.019883,0.278279,245.328571,173.238838,10.931034,0.000550
345341,345342,2634816,10449830,,0.180,460,SA03N,21944.1105,0,NaN,...,0.483446,1.084209,1.408003,0.041747,0.021697,0.281902,245.057143,173.430991,10.862069,0.001715
345342,345343,2634817,10449836,,0.312,460,SA03N,21944.1465,0,NaN,...,0.533965,1.195626,1.547888,0.047274,0.024866,0.287183,244.864286,173.712382,10.779310,0.003378
345343,345344,2634818,10449838,,0.429,460,SA03N,21944.1510,0,NaN,...,0.056472,0.128983,0.159879,0.006101,0.003463,0.326642,238.950000,176.237554,10.165517,0.004226

In [3]:
gauge_data = pd.read_csv("dv.csv", converters={'site_no': str})
site_no_list = gauge_data["site_no"].to_list()
len(site_no_list)

6452

In [4]:
site_no_list[:100]

['01010000',
 '01010070',
 '01010100',
 '01010500',
 '01011000',
 '01012500',
 '01012515',
 '01012520',
 '01012525',
 '01012570',
 '01012960',
 '01013500',
 '01014000',
 '01015000',
 '01015010',
 '01015800',
 '01016500',
 '01017000',
 '01017060',
 '01017290',
 '01017500',
 '01017550',
 '01017900',
 '01017960',
 '01018000',
 '01018009',
 '01018035',
 '01018500',
 '01018900',
 '01019000',
 '01019300',
 '01020000',
 '01021000',
 '01021050',
 '01021060',
 '01021200',
 '01021230',
 '01021466',
 '01021470',
 '01021480',
 '01021500',
 '01022000',
 '01022210',
 '01022250',
 '01022260',
 '01022294',
 '01022295',
 '01022330',
 '01022500',
 '01022800',
 '01022805',
 '01022835',
 '01022840',
 '01022860',
 '10228955',
 '01023000',
 '01024200',
 '01025000',
 '01026000',
 '01027200',
 '01027240',
 '01028000',
 '01029200',
 '01029500',
 '01030000',
 '01030350',
 '01030500',
 '01031000',
 '01031300',
 '01031450',
 '01031500',
 '01031510',
 '01031600',
 '01033000',
 '01033500',
 '01034000',
 '01034500',
 '01035000',
 '01035500',
 '01036000',
 '01036390',
 '01036500',
 '01037000',
 '01037050',
 '01037380',
 '01037700',
 '01038000',
 '01039000',
 '01041000',
 '01042500',
 '01043500',
 '01044550',
 '01045000',
 '01046000',
 '01046500',
 '01047000',
 '01047150',
 '01047200',
 '01047500',
 '01047730']

In [5]:
import dataretrieval.nwis as nwis
import numpy as np

In [6]:
start_date = '1977-01-01'
end_date = '2006-12-31'
paramcodes = ['00060', '00061']

sites_100 = nwis.get_record(site=site_no_list[:100], 
                parameterCd=paramcodes,
                service='dv',
                start=start_date,
                end=end_date)

In [7]:
sites_100.to_csv('test.csv')

In [8]:
pd.read_csv('test.csv')

        site_no                   datetime  00060_Mean 00060_Mean_cd
0       1010000  1977-01-01 00:00:00+00:00      450.00             A
1       1010000  1977-01-02 00:00:00+00:00      435.00             A
2       1010000  1977-01-03 00:00:00+00:00      425.00             A
3       1010000  1977-01-04 00:00:00+00:00      410.00             A
4       1010000  1977-01-05 00:00:00+00:00      400.00             A
...         ...                        ...         ...           ...
337212  1047730  1984-10-07 00:00:00+00:00        8.72             A
337213  1047730  1984-10-08 00:00:00+00:00        8.62             A
337214  1047730  1984-10-09 00:00:00+00:00        8.37             A
337215  1047730  1984-10-10 00:00:00+00:00        8.34             A
337216  1047730  1984-10-11 00:00:00+00:00        8.30             A

[337217 rows x 4 columns]

In [6]:
split_list = np.array_split(site_no_list, 100, axis=0)  
data_list = []  
split_list

[array(['01010000', '01010070', '01010100', '01010500', '01011000',
        '01012500', '01012515', '01012520', '01012525', '01012570',
        '01012960', '01013500', '01014000', '01015000', '01015010',
        '01015800', '01016500', '01017000', '01017060', '01017290',
        '01017500', '01017550', '01017900', '01017960', '01018000',
        '01018009', '01018035', '01018500', '01018900', '01019000',
        '01019300', '01020000', '01021000', '01021050', '01021060',
        '01021200', '01021230', '01021466', '01021470', '01021480',
        '01021500', '01022000', '01022210', '01022250', '01022260',
        '01022294', '01022295', '01022330', '01022500', '01022800',
        '01022805', '01022835', '01022840', '01022860', '10228955',
        '01023000', '01024200', '01025000', '01026000', '01027200',
        '01027240', '01028000', '01029200', '01029500', '01030000'],
       dtype='<U15'),
 array(['01030350', '01030500', '01031000', '01031300', '01031450',
        '01031500', '01031510', '01031600', '01033000', '01033500',
        '01034000', '01034500', '01035000', '01035500', '01036000',
        '01036390', '01036500', '01037000', '01037050', '01037380',
        '01037700', '01038000', '01039000', '01041000', '01042500',
        '01043500', '01044550', '01045000', '01046000', '01046500',
        '01047000', '01047150', '01047200', '01047500', '01047730',
        '01048000', '01048220', '01048500', '01049000', '01049130',
        '01049205', '01049218', '01049221', '01049265', '01049270',
        '01049300', '01049320', '01049330', '01049373', '01049396',
        '01049500', '01049505', '01049550', '01051620', '01051705',
        '01051715', '01052500', '01053500', '01053600', '01054000',
        '01054114', '01054200', '01054300', '01054500', '01055000'],
       dtype='<U15'),
 array(['01055100', '01055220', '01055500', '01056000', '01056400',
        '01056480', '01056505', '01057000', '01057510', '01058005',
        '01058500', '01059000', '01059010', '01059090', '01059160',
        '01059500', '01059555', '01059800', '01060000', '01063100',
        '01063310', '01063452', '01063995', '01064000', '01064118',
        '01064140', '01064158', '10642505', '01064300', '01064400',
        '01064485', '01064500', '01064800', '01064801', '01065000',
        '01065500', '01066000', '01066500', '01067000', '01067500',
        '01067851', '01067853', '01067950', '01068910', '01068980',
        '01069500', '01069700', '01069800', '01072100', '01072500',
        '01072800', '01072850', '01072870', '01072880', '01073000',
        '01073319', '01073389', '01073460', '01073500', '10735562',
        '01073587', '01073600', '01073750', '01073785', '01073810'],
       dtype='<U15'),
 array(['01073848', '01074500', '01074520', '01075000', '01075500',
        '01075800', '01076000', '01076500', '01077000', '01077400',
        '01078000', '01079600', '01079602', '01079900', '01080000',
        '01080500', '01081000', '01081500', '01082000', '01083000',
        '01083500', '01084000', '01084500', '01085000', '01085500',
        '01085800', '01086000', '01087000', '01088000', '01088500',
        '01089000', '01089100', '01089500', '01089925', '01090500',
        '01090800', '01091000', '01091500', '01092000', '01093000',
        '01093800', '01093852', '01093875', '01094000', '01094400',
        '01094500', '01095000', '01095220', '01095375', '01095434',
        '01095503', '01096000', '01096500', '01096503', '109650657',
        '01096508', '10965817', '10965844', '10965852', '01096587',
        '10965995', '01096835', '01096840', '01096885', '01096906'],
       dtype='<U15'),
 array(['01096910', '01097000', '01097300', '01097380', '01097480',
        '01098320', '01098340', '01098360', '01098450', '01098499',
        '01098500', '01098530', '01098710', '01099500', '01100000',
        '01100500', '01100505', '01100549', '01100561', '01100568',
        '01100571', '01100574', '01100600', '01100627', '01100693',
        '11006988', '01100700', '01100870', '01100890', '01101000',
        '01101300', '01101344', '01101400', '01101500', '01102000',
        '01102029', '11020308', '01102065', '01102345', '01102500',
        '01103010', '01103025', '01103038', '01103040', '01103050',
        '01103220', '01103280', '01103305', '01103455', '01103500',
        '01104000', '01104200', '01104370', '01104405', '01104410',
        '01104415', '01104420', '01104430', '01104440', '01104453',
        '01104455', '01104460', '01104475', '01104480', '01104500'],
       dtype='<U15'),
 array(['01104615', '01104630', '01104640', '01104660', '01104683',
        '01104687', '01104705', '01104715', '01104850', '01105000',
        '01105500', '01105554', '11055566', '01105557', '01105583',
        '01105584', '01105585', '01105600', '01105606', '01105608',
        '11056081', '01105638', '01105660', '01105700', '01105730',
        '01105765', '01105800', '01105870', '11058756', '01105876',
        '110587880', '01105880', '110588332', '110588340', '11058835951',
        '110588364', '11058837', '110588374', '1105883757', '01105885',
        '01105895', '01105917', '01105933', '01106000', '01106500',
        '01106900', '01107000', '01107200', '01107400', '01108000',
        '01108320', '01108410', '01108500', '01109000', '01109060',
        '01109070', '01109090', '01109200', '01109220', '01109403',
        '01109439', '01109500', '01109730', '01110000', '01110500'],
       dtype='<U15'),
 array(['01111000', '01111050', '01111212', '01111225', '01111230',
        '01111300', '01111400', '01111410', '01111500', '01112268',
        '01112382', '01112500', '01112700', '01113695', '01113710',
        '01113760', '01113895', '01114000', '01114500', '01115098',
        '01115100', '01115110', '01115114', '01115120', '01115170',
        '01115183', '01115184', '01115185', '01115187', '01115190',
        '01115265', '01115275', '01115276', '01115278', '01115280',
        '01115297', '01115500', '01115630', '01115670', '01115770',
        '01115900', '01116000', '01116300', '01116500', '01116905',
        '01117000', '01117100', '01117350', '11173545', '01117370',
        '01117410', '01117420', '01117424', '01117430', '01117468',
        '01117471', '01117472', '01117500', '01117600', '01117800',
        '01118000', '01118010', '01118300', '01118360', '01118400'],
       dtype='<U15'),
 array(['01118500', '01118520', '01118668', '01118700', '01119260',
        '01119280', '01119320', '01119382', '01119384', '01119480',
        '01119500', '01119600', '01119820', '01120000', '01120500',
        '01120790', '01120800', '01121000', '01121330', '01122000',
        '01122500', '01123000', '11230695', '01123360', '01123500',
        '01123600', '01124000', '01124151', '01124350', '01124500',
        '01124750', '01125000', '01125100', '01125415', '01125490',
        '01125500', '01125600', '01126000', '01126200', '01126500',
        '01126600', '01126910', '01126923', '01126950', '01127000',
        '01127500', '01127680', '01127729', '01127750', '11277696',
        '11277905', '11277914', '11277916', '01127821', '01127880',
        '01128500', '01129200', '01129440', '01129500', '01130000',
        '01131500', '01133000', '01133500', '01134500', '01134800'],
       dtype='<U15'),
 array(['01135000', '01135100', '01135150', '01135300', '01135500',
        '01136000', '01137500', '01137940', '01138000', '01138500',
        '01139000', '01139500', '01139800', '01139830', '01139833',
        '01139838', '01140000', '01140500', '01140570', '01140575',
        '01140580', '01140590', '01140600', '01140817', '01140820',
        '01141500', '01141800', '01142000', '01142500', '01143500',
        '01144000', '01144500', '01145000', '01150500', '01150800',
        '01150900', '01151000', '01151500', '01152010', '01152500',
        '01152800', '01153000', '01153500', '01153550', '01154000',
        '01154500', '01154950', '01155000', '01155200', '01155300',
        '01155500', '01155910', '01156000', '01156500', '01157000',
        '01158000', '01158110', '01158500', '01158600', '01159000',
        '01159500', '01159600', '01160000', '01160350', '01161000'],
       dtype='<U15'),
 array(['01161500', '01162000', '01162500', '01163000', '01163200',
        '01165300', '01165500', '01166105', '01166500', '01167800',
        '01168151', '01168250', '01168500', '01168639', '01168640',
        '01169000', '01169900', '01170000', '01170100', '01170500',
        '01170930', '01171000', '01171100', '01171300', '01171500',
        '01171800', '01172000', '01172003', '01172010', '01172500',
        '01172680', '01172800', '01173000', '01173260', '01173500',
        '01174000', '01174050', '01174500', '01174565', '01174570',
        '01174575', '01174600', '01174900', '01175500', '01175670',
        '01176000', '01176780', '01177000', '01178000', '01178500',
        '01179500', '01180000', '01180500', '01180800', '01181000',
        '01183450', '01183500', '01183950', '01183994', '01184000',
        '01184100', '01184205', '01184250', '01184280', '01184300'],
       dtype='<U15'),
 array(['01184325', '11844548', '11844549', '01184455', '01184470',
        '01184490', '01184500', '01185100', '01185500', '01186000',
        '01186100', '01186400', '01186500', '01187000', '01187300',
        '01187400', '01187680', '01187800', '01187830', '01187850',
        '01187980', '01188000', '01188090', '01189000', '01189180',
        '01189200', '01189210', '01189390', '01189500', '01189995',
        '01189999', '01190055', '01190057', '01190070', '01190095',
        '01190100', '01190200', '01190300', '01190500', '01190600',
        '01190620', '01190650', '01191000', '01191500', '01192370',
        '01192480', '01192500', '01192600', '01192610', '01192650',
        '01192692', '01192700', '01192704', '01192883', '01192890',
        '01193000', '01193050', '01193348', '01193450', '01193463',
        '01193465', '01193500', '01193630', '01193800', '01194000'],
       dtype='<U15'),
 array(['01194500', '01194750', '01194796', '01194815', '01195000',
        '01195100', '01195117', '01195146', '01195200', '01195290',
        '01195339', '01195399', '01195490', '01195500', '01196000',
        '01196100', '01196150', '01196210', '01196220', '01196259',
        '01196500', '01196561', '01196580', '01196620', '01196626',
        '01196680', '01197000', '01197015', '01197300', '01197500',
        '01198000', '01198030', '01198070', '01198075', '01198122',
        '01198125', '01198200', '01198240', '01198300', '01198500',
        '01198700', '01198800', '01198851', '01198860', '01198870',
        '01198880', '01199000', '01199030', '01199033', '01199050',
        '01199200', '01199290', '01199490', '01200000', '01200500',
        '01200600', '01201190', '01201420', '01201470', '01201487',
        '01201500', '01201510', '01201930', '01202500', '01202501'],
       dtype='<U15'),
 array(['01203000', '12035055', '01203510', '01203600', '01203805',
        '01204000', '01204800', '01205500', '01205600', '01205700',
        '01205890', '01206000', '01206400', '01206500', '01206900',
        '01208012', '01208171', '01208500', '01208850', '01208872',
        '01208873', '01208925', '01208950', '01208990', '01208999',
        '01209005', '01209105', '01209500', '12095493', '01209700',
        '01209710', '01209753', '01209761', '01209775', '01209785',
        '01209900', '01209901', '01211110', '12112296', '01211600',
        '01212100', '01212500', '01300000', '01300500', '01301000',
        '01301500', '01302000', '01302020', '01302050', '01302125',
        '01302250', '01302500', '01302600', '01302845', '01303000',
        '01303152', '01303500', '01304000', '01304057', '01304200',
        '01304250', '01304500', '01304562', '01304650', '01304655'],
       dtype='<U15'),
 array(['130469525', '01304702', '01304705', '01304746', '01304920',
        '01305000', '01305500', '01305575', '01306000', '01306402',
        '01306440', '01306460', '01306495', '01306499', '01306500',
        '01307000', '01307500', '01308000', '01308500', '01309000',
        '01309225', '01309500', '01309680', '01309950', '01309990',
        '01310000', '01310500', '01310521', '01310740', '131079450',
        '01311000', '01311143', '01311145', '01311500', '01311810',
        '01311850', '01311875', '131199050', '01311992', '01312000',
        '01313500', '01314000', '01314500', '01315000', '01315081',
        '01315170', '01315226', '01315227', '01315500', '01316000',
        '01317000', '01318000', '01318500', '01319000', '01319500',
        '01320500', '01321000', '01321500', '01322000', '01322500',
        '01323000', '01323500', '01325000', '01326500', '01327000'],
       dtype='<U15'),
 array(['01327500', '01327600', '01327750', '01327755', '01328000',
        '01328770', '01329000', '01329490', '01329500', '01329650',
        '01330000', '01330500', '01330884', '01331095', '01331400',
        '01331500', '01332000', '01332500', '01333000', '01333500',
        '01334000', '01334500', '01335000', '01335500', '01335754',
        '01335770', '01335900', '01336000', '01337005', '01338000',
        '01339060', '01342500', '01342602', '01342682', '01342730',
        '01342732', '01342743', '134277112', '134277114', '134277119',
        '134277121', '134277123', '01343060', '01343403', '01343900',
        '01344000', '01344500', '01344795', '01346000', '01346500',
        '01347000', '01347500', '01348000', '01349000', '01349150',
        '01349527', '01349541', '01349700', '01349705', '01349711',
        '01349810', '01349840', '01349858', '01349900', '01349950'],
       dtype='<U15'),
 array(['01350000', '01350032', '01350035', '01350080', '01350100',
        '01350101', '01350120', '01350140', '01350180', '01350200',
        '01350212', '01350355', '01350480', '01350500', '01350750',
        '01351000', '01351200', '01351298', '01351450', '01351500',
        '01353995', '135403025', '01354083', '01354230', '01354330',
        '01354500', '01355475', '01356000', '01356190', '01357499',
        '135749950', '01357500', '01358000', '01358500', '01359133',
        '01359135', '01359139', '01359150', '01359165', '01359513',
        '01359519', '01359525', '01359528', '01359750', '135980207',
        '01359902', '01359918', '01359924', '01360640', '01361000',
        '01361200', '01361500', '01361570', '01362000', '01362090',
        '01362100', '01362182', '01362192', '136219503', '13621955',
        '136219702', '01362198', '01362200', '01362230', '01362232'],
       dtype='<U15'),
 array(['01362286', '01362295', '01362297', '136230002', '01362312',
        '01362322', '01362330', '01362332', '01362336', '01362342',
        '01362345', '01362347', '01362349', '01362350', '01362352',
        '01362354', '136235575', '136235580', '136235585', '01362356',
        '01362357', '01362359', '01362365', '01362368', '01362370',
        '01362380', '01362398', '01362465', '01362487', '01362497',
        '01362500', '01363382', '01363400', '01363500', '01363556',
        '01364000', '01364500', '01364800', '01364959', '01365000',
        '01365100', '01365500', '01365505', '01365550', '01366400',
        '01366500', '01366650', '01367500', '01367625', '01367690',
        '01367770', '01367780', '01367800', '01367805', '01368000',
        '01368050', '01368500', '01369000', '01369500', '01370000',
        '01370500', '01370520', '01370600', '01371000', '01371500'],
       dtype='<U15'),
 array(['01372007', '01372040', '01372043', '01372051', '01372058',
        '01372065', '01372100', '01372200', '01372300', '01372400',
        '01372500', '01372800', '01372850', '01373500', '01373600',
        '01373690', '01374019', '01374349', '01374420', '01374440',
        '01374480', '137449480', '01374505', '01374531', '01374559',
        '01374581', '01374598', '137462010', '01374654', '01374701',
        '01374781', '01374821', '01374890', '01374901', '01374918',
        '01374930', '01374941', '01374976', '01374987', '137499350',
        '01375000', '01375500', '01376269', '01376270', '01376275',
        '01376280', '01376304', '01376307', '01376500', '01376515',
        '01376520', '01376531', '01376534', '01376547', '01376558',
        '01376562', '01376600', '01376800', '01376850', '01376900',
        '01376950', '01377000', '01377200', '01377300', '01377370'],
       dtype='<U15'),
 array(['01377450', '01377451', '01377500', '01378387', '01378480',
        '01378500', '01378560', '01378570', '01378690', '01378780',
        '01379000', '01379200', '01379500', '01379530', '01379580',
        '01379630', '01379680', '01379699', '01379700', '01379773',
        '01379780', '01379790', '01379845', '01379868', '01380000',
        '01380100', '01380450', '01380900', '01381000', '01381400',
        '01381500', '01381800', '01381900', '01381940', '01381950',
        '01382000', '01382170', '01382210', '01382270', '01382310',
        '01382381', '01382385', '01382500', '01382800', '01383000',
        '01383500', '01384000', '01384500', '01385000', '01385500',
        '01386000', '01386500', '01386990', '01387000', '01387095',
        '01387250', '01387300', '01387400', '01387420', '01387450',
        '01387480', '01387500', '01387890', '01387905', '01387940'],
       dtype='<U15'),
 array(['01387998', '01388000', '01388100', '01388500', '01388700',
        '01388910', '01389000', '01389005', '01389010', '01389130',
        '01389138', '01389492', '01389500', '01389534', '01389550',
        '01389765', '01389800', '01389802', '01389890', '01390200',
        '01390300', '01390450', '01390500', '01391000', '01391100',
        '01391102', '01391500', '01391550', '01392000', '01392170',
        '01392210', '01392500', '01392590', '01392650', '01393000',
        '01393450', '01393500', '01393800', '01393890', '01393895',
        '01394000', '01394500', '01394620', '01395000', '01396000',
        '01396001', '01396060', '01396085', '01396091', '01396152',
        '01396190', '01396500', '01396550', '01396580', '01396582',
        '01396660', '01396790', '01396800', '01397000', '01397420',
        '01397500', '01398000', '01398045', '01398102', '01398107'],
       dtype='<U15'),
 array(['01398500', '01398900', '01399100', '01399190', '01399200',
        '01399500', '01399510', '01399525', '01399670', '01399690',
        '01399700', '01399780', '01399830', '01400000', '01400010',
        '01400300', '01400350', '01400360', '01400500', '01400510',
        '01400730', '01400932', '01400953', '01401000', '01401500',
        '01401600', '01401650', '01401750', '01402000', '01402500',
        '01402540', '01402590', '01402600', '01402630', '01402900',
        '01403000', '01403060', '01403150', '01403200', '01403385',
        '01403400', '01403500', '01403535', '01403540', '01403570',
        '01403600', '01403900', '01404000', '01404100', '01404500',
        '01405000', '01405030', '01405300', '01405400', '01405500',
        '01406000', '01406050', '01406500', '01406710', '01407000',
        '01407080', '01407081', '01407290', '01407498', '01407500'],
       dtype='<U15'),
 array(['01407600', '01407705', '01407760', '01407770', '01408000',
        '01408029', '01408043', '01408048', '01408050', '01408120',
        '01408140', '01408150', '01408151', '01408160', '01408168',
        '01408200', '01408205', '01408494', '01408500', '01408719',
        '01408750', '01408753', '01408754', '01408900', '01409000',
        '01409095', '01409110', '01409124', '01409125', '01409135',
        '140914550', '01409146', '01409147', '01409210', '01409280',
        '140928290', '140928320', '01409335', '01409400', '140940810',
        '01409416', '01409500', '01409510', '01409810', '01410000',
        '01410150', '01410225', '01410500', '01410510', '01410560',
        '01410600', '01410784', '01410787', '01410810', '01410820',
        '01411000', '01411300', '01411318', '01411320', '01411330',
        '01411350', '01411352', '01411355', '01411360', '01411370'],
       dtype='<U15'),

In [49]:
# The next two cells were to test and see if the code worked

In [22]:
firstsites = site_no_list[:100]
firstsites

['01010000',
 '01010070',
 '01010100',
 '01010500',
 '01011000',
 '01012500',
 '01012515',
 '01012520',
 '01012525',
 '01012570',
 '01012960',
 '01013500',
 '01014000',
 '01015000',
 '01015010',
 '01015800',
 '01016500',
 '01017000',
 '01017060',
 '01017290',
 '01017500',
 '01017550',
 '01017900',
 '01017960',
 '01018000',
 '01018009',
 '01018035',
 '01018500',
 '01018900',
 '01019000',
 '01019300',
 '01020000',
 '01021000',
 '01021050',
 '01021060',
 '01021200',
 '01021230',
 '01021466',
 '01021470',
 '01021480',
 '01021500',
 '01022000',
 '01022210',
 '01022250',
 '01022260',
 '01022294',
 '01022295',
 '01022330',
 '01022500',
 '01022800',
 '01022805',
 '01022835',
 '01022840',
 '01022860',
 '10228955',
 '01023000',
 '01024200',
 '01025000',
 '01026000',
 '01027200',
 '01027240',
 '01028000',
 '01029200',
 '01029500',
 '01030000',
 '01030350',
 '01030500',
 '01031000',
 '01031300',
 '01031450',
 '01031500',
 '01031510',
 '01031600',
 '01033000',
 '01033500',
 '01034000',
 '01034500',
 '01035000',
 '01035500',
 '01036000',
 '01036390',
 '01036500',
 '01037000',
 '01037050',
 '01037380',
 '01037700',
 '01038000',
 '01039000',
 '01041000',
 '01042500',
 '01043500',
 '01044550',
 '01045000',
 '01046000',
 '01046500',
 '01047000',
 '01047150',
 '01047200',
 '01047500',
 '01047730']

In [25]:
start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 10 

data_list = []

for i in range(0, len(firstsites), chunk_size):
    chunk = firstsites[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list.append(data)

In [26]:
data_list

[                           00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       450.0             A  01010000
 1977-01-02 00:00:00+00:00       435.0             A  01010000
 1977-01-03 00:00:00+00:00       425.0             A  01010000
 1977-01-04 00:00:00+00:00       410.0             A  01010000
 1977-01-05 00:00:00+00:00       400.0             A  01010000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      2100.0          A, e  01010000
 2006-12-28 00:00:00+00:00      1680.0          A, e  01010000
 2006-12-29 00:00:00+00:00      1390.0          A, e  01010000
 2006-12-30 00:00:00+00:00      1220.0          A, e  01010000
 2006-12-31 00:00:00+00:00      1120.0          A, e  01010000

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1983-10-01 00:00:00+00:00        42.0             A  01010070
 1983-10-02 00:00:00+00:00        37.0             A  01010070
 1983-10-03 00:00:00+00:00        36.0             A  01010070
 1983-10-04 00:00:00+00:00        35.0             A  01010070
 1983-10-05 00:00:00+00:00        70.0             A  01010070
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       188.0          A, e  01010070
 2006-12-28 00:00:00+00:00       152.0          A, e  01010070
 2006-12-29 00:00:00+00:00       128.0          A, e  01010070
 2006-12-30 00:00:00+00:00       119.0          A, e  01010070
 2006-12-31 00:00:00+00:00       115.0          A, e  01010070

 [8493 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-04-07 00:00:00+00:00       580.0             A  01010100
 1977-04-08 00:00:00+00:00       520.0             A  01010100
 1977-04-09 00:00:00+00:00       460.0             A  01010100
 1977-04-10 00:00:00+00:00       420.0             A  01010100
 1977-04-11 00:00:00+00:00       380.0             A  01010100
 ...                               ...           ...       ...
 1980-10-04 00:00:00+00:00       403.0             A  01010100
 1980-10-05 00:00:00+00:00       763.0             A  01010100
 1980-10-06 00:00:00+00:00       590.0             A  01010100
 1980-10-07 00:00:00+00:00       392.0             A  01010100
 1980-10-08 00:00:00+00:00       299.0             A  01010100

 [904 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       705.0             A  01010500
 1977-01-02 00:00:00+00:00       680.0             A  01010500
 1977-01-03 00:00:00+00:00       665.0             A  01010500
 1977-01-04 00:00:00+00:00       655.0             A  01010500
 1977-01-05 00:00:00+00:00       640.0             A  01010500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      4740.0          A, e  01010500
 2006-12-28 00:00:00+00:00      3780.0          A, e  01010500
 2006-12-29 00:00:00+00:00      3030.0          A, e  01010500
 2006-12-30 00:00:00+00:00      2580.0          A, e  01010500
 2006-12-31 00:00:00+00:00      2360.0          A, e  01010500

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       445.0             A  01011000
 1977-01-02 00:00:00+00:00       430.0             A  01011000
 1977-01-03 00:00:00+00:00       420.0             A  01011000
 1977-01-04 00:00:00+00:00       415.0             A  01011000
 1977-01-05 00:00:00+00:00       400.0             A  01011000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1330.0          A, e  01011000
 2006-12-28 00:00:00+00:00      1180.0          A, e  01011000
 2006-12-29 00:00:00+00:00      1070.0          A, e  01011000
 2006-12-30 00:00:00+00:00      1020.0          A, e  01011000
 2006-12-31 00:00:00+00:00       993.0          A, e  01011000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1982-07-15 00:00:00+00:00       28.00             A  01012515
 1982-07-16 00:00:00+00:00        0.42             A  01012515
 1982-07-17 00:00:00+00:00        0.42             A  01012515
 1982-07-18 00:00:00+00:00        0.37             A  01012515
 1982-07-19 00:00:00+00:00        0.33             A  01012515
 ...                               ...           ...       ...
 1984-06-09 00:00:00+00:00       29.00             A  01012515
 1984-06-10 00:00:00+00:00       24.00             A  01012515
 1984-06-11 00:00:00+00:00       21.00             A  01012515
 1984-06-12 00:00:00+00:00       18.00             A  01012515
 1984-06-13 00:00:00+00:00       15.00             A  01012515

 [700 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1980-10-01 00:00:00+00:00        3.00             A  01012520
 1980-10-02 00:00:00+00:00        2.80             A  01012520
 1980-10-03 00:00:00+00:00        2.60             A  01012520
 1980-10-04 00:00:00+00:00        2.50             A  01012520
 1980-10-05 00:00:00+00:00        5.80             A  01012520
 ...                               ...           ...       ...
 1984-09-26 00:00:00+00:00        0.44             A  01012520
 1984-09-27 00:00:00+00:00        0.41             A  01012520
 1984-09-28 00:00:00+00:00        0.38             A  01012520
 1984-09-29 00:00:00+00:00        0.36             A  01012520
 1984-09-30 00:00:00+00:00        0.35             A  01012520

 [1461 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1981-11-05 00:00:00+00:00        2.10             A  01012525
 1981-11-06 00:00:00+00:00        2.00             A  01012525
 1981-11-07 00:00:00+00:00        2.50             A  01012525
 1981-11-08 00:00:00+00:00        2.60             A  01012525
 1981-11-09 00:00:00+00:00        2.20             A  01012525
 ...                               ...           ...       ...
 1984-09-26 00:00:00+00:00        0.27             A  01012525
 1984-09-27 00:00:00+00:00        0.25             A  01012525
 1984-09-28 00:00:00+00:00        0.23             A  01012525
 1984-09-29 00:00:00+00:00        0.22             A  01012525
 1984-09-30 00:00:00+00:00        0.20             A  01012525

 [1061 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1982-07-15 00:00:00+00:00         4.7             A  01012570
 1982-07-16 00:00:00+00:00         4.5             A  01012570
 1982-07-17 00:00:00+00:00         4.2             A  01012570
 1982-07-18 00:00:00+00:00         4.0             A  01012570
 1982-07-19 00:00:00+00:00         3.8             A  01012570
 ...                               ...           ...       ...
 1984-06-08 00:00:00+00:00       190.0             A  01012570
 1984-06-09 00:00:00+00:00       150.0             A  01012570
 1984-06-10 00:00:00+00:00       120.0             A  01012570
 1984-06-11 00:00:00+00:00       100.0             A  01012570
 1984-06-12 00:00:00+00:00        84.0             A  01012570

 [699 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       640.0             A  01013500
 1977-01-02 00:00:00+00:00       630.0             A  01013500
 1977-01-03 00:00:00+00:00       610.0             A  01013500
 1977-01-04 00:00:00+00:00       600.0             A  01013500
 1977-01-05 00:00:00+00:00       585.0             A  01013500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1120.0             A  01013500
 2006-12-28 00:00:00+00:00      1090.0             A  01013500
 2006-12-29 00:00:00+00:00      1050.0          A, e  01013500
 2006-12-30 00:00:00+00:00      1010.0          A, e  01013500
 2006-12-31 00:00:00+00:00       977.0          A, e  01013500

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      3200.0             A  01014000
 1977-01-02 00:00:00+00:00      3050.0             A  01014000
 1977-01-03 00:00:00+00:00      2900.0             A  01014000
 1977-01-04 00:00:00+00:00      2850.0             A  01014000
 1977-01-05 00:00:00+00:00      2800.0             A  01014000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      9140.0          A, e  01014000
 2006-12-28 00:00:00+00:00      7740.0          A, e  01014000
 2006-12-29 00:00:00+00:00      6450.0          A, e  01014000
 2006-12-30 00:00:00+00:00      5700.0          A, e  01014000
 2006-12-31 00:00:00+00:00      5350.0          A, e  01014000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       280.0             A  01015800
 1977-01-02 00:00:00+00:00       270.0             A  01015800
 1977-01-03 00:00:00+00:00       265.0             A  01015800
 1977-01-04 00:00:00+00:00       260.0             A  01015800
 1977-01-05 00:00:00+00:00       255.0             A  01015800
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1630.0          A, e  01015800
 2006-12-28 00:00:00+00:00      1270.0          A, e  01015800
 2006-12-29 00:00:00+00:00      1080.0          A, e  01015800
 2006-12-30 00:00:00+00:00       977.0          A, e  01015800
 2006-12-31 00:00:00+00:00      1030.0          A, e  01015800

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       100.0             A  01016500
 1977-01-02 00:00:00+00:00        98.0             A  01016500
 1977-01-03 00:00:00+00:00        95.0             A  01016500
 1977-01-04 00:00:00+00:00        91.0             A  01016500
 1977-01-05 00:00:00+00:00        88.0             A  01016500
 ...                               ...           ...       ...
 1983-10-17 00:00:00+00:00       322.0             A  01016500
 1983-10-18 00:00:00+00:00       290.0             A  01016500
 1983-10-19 00:00:00+00:00       268.0             A  01016500
 1983-10-20 00:00:00+00:00       243.0             A  01016500
 1983-10-21 00:00:00+00:00       225.0             A  01016500

 [2485 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       530.0             A  01017000
 1977-01-02 00:00:00+00:00       520.0             A  01017000
 1977-01-03 00:00:00+00:00       500.0             A  01017000
 1977-01-04 00:00:00+00:00       490.0             A  01017000
 1977-01-05 00:00:00+00:00       485.0             A  01017000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      2520.0          A, e  01017000
 2006-12-28 00:00:00+00:00      2220.0          A, e  01017000
 2006-12-29 00:00:00+00:00      1800.0          A, e  01017000
 2006-12-30 00:00:00+00:00      1560.0          A, e  01017000
 2006-12-31 00:00:00+00:00      1520.0          A, e  01017000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1999-11-01 00:00:00+00:00        8.00          A, e  01017550
 1999-11-02 00:00:00+00:00        7.20          A, e  01017550
 1999-11-03 00:00:00+00:00       12.00          A, e  01017550
 1999-11-04 00:00:00+00:00       19.00             A  01017550
 1999-11-05 00:00:00+00:00        9.40             A  01017550
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00        5.13          A, e  01017550
 2006-12-28 00:00:00+00:00        4.46          A, e  01017550
 2006-12-29 00:00:00+00:00        3.41          A, e  01017550
 2006-12-30 00:00:00+00:00        3.26          A, e  01017550
 2006-12-31 00:00:00+00:00        3.19          A, e  01017550

 [2618 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00        0.84             A  01017900
 1977-01-02 00:00:00+00:00        0.82             A  01017900
 1977-01-03 00:00:00+00:00        0.80             A  01017900
 1977-01-04 00:00:00+00:00        0.79             A  01017900
 1977-01-05 00:00:00+00:00        0.78             A  01017900
 ...                               ...           ...       ...
 1982-10-03 00:00:00+00:00        1.70             A  01017900
 1982-10-04 00:00:00+00:00        1.20             A  01017900
 1982-10-05 00:00:00+00:00        0.94             A  01017900
 1982-10-06 00:00:00+00:00        0.80             A  01017900
 1982-10-07 00:00:00+00:00        0.76             A  01017900

 [2106 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2003-10-01 00:00:00+00:00        65.1             A  01017960
 2003-10-02 00:00:00+00:00        51.7             A  01017960
 2003-10-03 00:00:00+00:00        58.3             A  01017960
 2003-10-04 00:00:00+00:00        56.5             A  01017960
 2003-10-05 00:00:00+00:00        98.6             A  01017960
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       193.0          A, e  01017960
 2006-12-28 00:00:00+00:00       151.0          A, e  01017960
 2006-12-29 00:00:00+00:00       132.0          A, e  01017960
 2006-12-30 00:00:00+00:00       121.0          A, e  01017960
 2006-12-31 00:00:00+00:00       114.0          A, e  01017960

 [1188 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       115.0             A  01018000
 1977-01-02 00:00:00+00:00       110.0             A  01018000
 1977-01-03 00:00:00+00:00       105.0             A  01018000
 1977-01-04 00:00:00+00:00        94.0             A  01018000
 1977-01-05 00:00:00+00:00        87.0             A  01018000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       380.0             A  01018000
 2006-12-28 00:00:00+00:00       296.0          A, e  01018000
 2006-12-29 00:00:00+00:00       261.0          A, e  01018000
 2006-12-30 00:00:00+00:00       234.0          A, e  01018000
 2006-12-31 00:00:00+00:00       221.0          A, e  01018000

 [3294 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2005-07-01 00:00:00+00:00       146.0             A  01018035
 2005-07-02 00:00:00+00:00       134.0             A  01018035
 2005-07-03 00:00:00+00:00       119.0             A  01018035
 2005-07-04 00:00:00+00:00       106.0             A  01018035
 2005-07-05 00:00:00+00:00        92.0             A  01018035
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       535.0             A  01018035
 2006-12-28 00:00:00+00:00       408.0          A, e  01018035
 2006-12-29 00:00:00+00:00       361.0          A, e  01018035
 2006-12-30 00:00:00+00:00       322.0          A, e  01018035
 2006-12-31 00:00:00+00:00       306.0          A, e  01018035

 [549 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       518.0             A  01018500
 1977-01-02 00:00:00+00:00       519.0             A  01018500
 1977-01-03 00:00:00+00:00       519.0             A  01018500
 1977-01-04 00:00:00+00:00       519.0             A  01018500
 1977-01-05 00:00:00+00:00       519.0             A  01018500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       835.0             A  01018500
 2006-12-28 00:00:00+00:00       767.0             A  01018500
 2006-12-29 00:00:00+00:00       766.0             A  01018500
 2006-12-30 00:00:00+00:00       764.0             A  01018500
 2006-12-31 00:00:00+00:00       762.0             A  01018500

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       350.0             A  01019000
 1977-01-02 00:00:00+00:00       350.0             A  01019000
 1977-01-03 00:00:00+00:00       345.0             A  01019000
 1977-01-04 00:00:00+00:00       340.0             A  01019000
 1977-01-05 00:00:00+00:00       340.0             A  01019000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       134.0             A  01019000
 2006-12-28 00:00:00+00:00       134.0             A  01019000
 2006-12-29 00:00:00+00:00       136.0          A, e  01019000
 2006-12-30 00:00:00+00:00       137.0          A, e  01019000
 2006-12-31 00:00:00+00:00       138.0          A, e  01019000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      2340.0             A  01020000
 1977-01-02 00:00:00+00:00      2350.0             A  01020000
 1977-01-03 00:00:00+00:00      2350.0             A  01020000
 1977-01-04 00:00:00+00:00      2320.0             A  01020000
 1977-01-05 00:00:00+00:00      2310.0             A  01020000
 ...                               ...           ...       ...
 1983-09-26 00:00:00+00:00      1800.0             A  01020000
 1983-09-27 00:00:00+00:00      1790.0             A  01020000
 1983-09-28 00:00:00+00:00      1790.0             A  01020000
 1983-09-29 00:00:00+00:00      1790.0             A  01020000
 1983-09-30 00:00:00+00:00      1790.0             A  01020000

 [2464 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      2360.0             A  01021000
 1977-01-02 00:00:00+00:00      2260.0             A  01021000
 1977-01-03 00:00:00+00:00      2300.0             A  01021000
 1977-01-04 00:00:00+00:00      2520.0             A  01021000
 1977-01-05 00:00:00+00:00      2500.0             A  01021000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      3370.0             A  01021000
 2006-12-28 00:00:00+00:00      2730.0             A  01021000
 2006-12-29 00:00:00+00:00      2900.0             A  01021000
 2006-12-30 00:00:00+00:00      2780.0             A  01021000
 2006-12-31 00:00:00+00:00      2710.0             A  01021000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       218.0             A  01021200
 1977-01-02 00:00:00+00:00       196.0             A  01021200
 1977-01-03 00:00:00+00:00       175.0             A  01021200
 1977-01-04 00:00:00+00:00       161.0             A  01021200
 1977-01-05 00:00:00+00:00       157.0             A  01021200
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       288.0             A  01021200
 2006-12-28 00:00:00+00:00       220.0             A  01021200
 2006-12-29 00:00:00+00:00       170.0             A  01021200
 2006-12-30 00:00:00+00:00       170.0          A, e  01021200
 2006-12-31 00:00:00+00:00       140.0             A  01021200

 [9990 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2004-05-20 00:00:00+00:00       71.10          A, e  01021230
 2004-05-21 00:00:00+00:00       59.10             A  01021230
 2004-05-22 00:00:00+00:00       54.30             A  01021230
 2004-05-23 00:00:00+00:00       55.10             A  01021230
 2004-05-24 00:00:00+00:00       58.60             A  01021230
 ...                               ...           ...       ...

In [29]:
site_no_list

['01010000',
 '01010070',
 '01010100',
 '01010500',
 '01011000',
 '01012500',
 '01012515',
 '01012520',
 '01012525',
 '01012570',
 '01012960',
 '01013500',
 '01014000',
 '01015000',
 '01015010',
 '01015800',
 '01016500',
 '01017000',
 '01017060',
 '01017290',
 '01017500',
 '01017550',
 '01017900',
 '01017960',
 '01018000',
 '01018009',
 '01018035',
 '01018500',
 '01018900',
 '01019000',
 '01019300',
 '01020000',
 '01021000',
 '01021050',
 '01021060',
 '01021200',
 '01021230',
 '01021466',
 '01021470',
 '01021480',
 '01021500',
 '01022000',
 '01022210',
 '01022250',
 '01022260',
 '01022294',
 '01022295',
 '01022330',
 '01022500',
 '01022800',
 '01022805',
 '01022835',
 '01022840',
 '01022860',
 '10228955',
 '01023000',
 '01024200',
 '01025000',
 '01026000',
 '01027200',
 '01027240',
 '01028000',
 '01029200',
 '01029500',
 '01030000',
 '01030350',
 '01030500',
 '01031000',
 '01031300',
 '01031450',
 '01031500',
 '01031510',
 '01031600',
 '01033000',
 '01033500',
 '01034000',
 '01034500',
 '01035000',
 '01035500',
 '01036000',
 '01036390',
 '01036500',
 '01037000',
 '01037050',
 '01037380',
 '01037700',
 '01038000',
 '01039000',
 '01041000',
 '01042500',
 '01043500',
 '01044550',
 '01045000',
 '01046000',
 '01046500',
 '01047000',
 '01047150',
 '01047200',
 '01047500',
 '01047730',
 '01048000',
 '01048220',
 '01048500',
 '01049000',
 '01049130',
 '01049205',
 '01049218',
 '01049221',
 '01049265',
 '01049270',
 '01049300',
 '01049320',
 '01049330',
 '01049373',
 '01049396',
 '01049500',
 '01049505',
 '01049550',
 '01051620',
 '01051705',
 '01051715',
 '01052500',
 '01053500',
 '01053600',
 '01054000',
 '01054114',
 '01054200',
 '01054300',
 '01054500',
 '01055000',
 '01055100',
 '01055220',
 '01055500',
 '01056000',
 '01056400',
 '01056480',
 '01056505',
 '01057000',
 '01057510',
 '01058005',
 '01058500',
 '01059000',
 '01059010',
 '01059090',
 '01059160',
 '01059500',
 '01059555',
 '01059800',
 '01060000',
 '01063100',
 '01063310',
 '01063452',
 '01063995',
 '01064000',
 '01064118',
 '01064140',
 '01064158',
 '10642505',
 '01064300',
 '01064400',
 '01064485',
 '01064500',
 '01064800',
 '01064801',
 '01065000',
 '01065500',
 '01066000',
 '01066500',
 '01067000',
 '01067500',
 '01067851',
 '01067853',
 '01067950',
 '01068910',
 '01068980',
 '01069500',
 '01069700',
 '01069800',
 '01072100',
 '01072500',
 '01072800',
 '01072850',
 '01072870',
 '01072880',
 '01073000',
 '01073319',
 '01073389',
 '01073460',
 '01073500',
 '10735562',
 '01073587',
 '01073600',
 '01073750',
 '01073785',
 '01073810',
 '01073848',
 '01074500',
 '01074520',
 '01075000',
 '01075500',
 '01075800',
 '01076000',
 '01076500',
 '01077000',
 '01077400',
 '01078000',
 '01079600',
 '01079602',
 '01079900',
 '01080000',
 '01080500',
 '01081000',
 '01081500',
 '01082000',
 '01083000',
 '01083500',
 '01084000',
 '01084500',
 '01085000',
 '01085500',
 '01085800',
 '01086000',
 '01087000',
 '01088000',
 '01088500',
 '01089000',
 '01089100',
 '01089500',
 '01089925',
 '01090500',
 '01090800',
 '01091000',
 '01091500',
 '01092000',
 '01093000',
 '01093800',
 '01093852',
 '01093875',
 '01094000',
 '01094400',
 '01094500',
 '01095000',
 '01095220',
 '01095375',
 '01095434',
 '01095503',
 '01096000',
 '01096500',
 '01096503',
 '109650657',
 '01096508',
 '10965817',
 '10965844',
 '10965852',
 '01096587',
 '10965995',
 '01096835',
 '01096840',
 '01096885',
 '01096906',
 '01096910',
 '01097000',
 '01097300',
 '01097380',
 '01097480',
 '01098320',
 '01098340',
 '01098360',
 '01098450',
 '01098499',
 '01098500',
 '01098530',
 '01098710',
 '01099500',
 '01100000',
 '01100500',
 '01100505',
 '01100549',
 '01100561',
 '01100568',
 '01100571',
 '01100574',
 '01100600',
 '01100627',
 '01100693',
 '11006988',
 '01100700',
 '01100870',
 '01100890',
 '01101000',
 '01101300',
 '01101344',
 '01101400',
 '01101500',
 '01102000',
 '01102029',
 '11020308',
 '01102065',
 '01102345',
 '01102500',
 '01103010',
 '01103025',
 '01103038',
 '01103040',
 '01103050',
 '01103220',
 '01103280',
 '01103305',
 '01103455',
 '01103500',
 '01104000',
 '01104200',
 '01104370',
 '01104405',
 '01104410',
 '01104415',
 '01104420',
 '01104430',
 '01104440',
 '01104453',
 '01104455',
 '01104460',
 '01104475',
 '01104480',
 '01104500',
 '01104615',
 '01104630',
 '01104640',
 '01104660',
 '01104683',
 '01104687',
 '01104705',
 '01104715',
 '01104850',
 '01105000',
 '01105500',
 '01105554',
 '11055566',
 '01105557',
 '01105583',
 '01105584',
 '01105585',
 '01105600',
 '01105606',
 '01105608',
 '11056081',
 '01105638',
 '01105660',
 '01105700',
 '01105730',
 '01105765',
 '01105800',
 '01105870',
 '11058756',
 '01105876',
 '110587880',
 '01105880',
 '110588332',
 '110588340',
 '11058835951',
 '110588364',
 '11058837',
 '110588374',
 '1105883757',
 '01105885',
 '01105895',
 '01105917',
 '01105933',
 '01106000',
 '01106500',
 '01106900',
 '01107000',
 '01107200',
 '01107400',
 '01108000',
 '01108320',
 '01108410',
 '01108500',
 '01109000',
 '01109060',
 '01109070',
 '01109090',
 '01109200',
 '01109220',
 '01109403',
 '01109439',
 '01109500',
 '01109730',
 '01110000',
 '01110500',
 '01111000',
 '01111050',
 '01111212',
 '01111225',
 '01111230',
 '01111300',
 '01111400',
 '01111410',
 '01111500',
 '01112268',
 '01112382',
 '01112500',
 '01112700',
 '01113695',
 '01113710',
 '01113760',
 '01113895',
 '01114000',
 '01114500',
 '01115098',
 '01115100',
 '01115110',
 '01115114',
 '01115120',
 '01115170',
 '01115183',
 '01115184',
 '01115185',
 '01115187',
 '01115190',
 '01115265',
 '01115275',
 '01115276',
 '01115278',
 '01115280',
 '01115297',
 '01115500',
 '01115630',
 '01115670',
 '01115770',
 '01115900',
 '01116000',
 '01116300',
 '01116500',
 '01116905',
 '01117000',
 '01117100',
 '01117350',
 '11173545',
 '01117370',
 '01117410',
 '01117420',
 '01117424',
 '01117430',
 '01117468',
 '01117471',
 '01117472',
 '01117500',
 '01117600',
 '01117800',
 '01118000',
 '01118010',
 '01118300',
 '01118360',
 '01118400',
 '01118500',
 '01118520',
 '01118668',
 '01118700',
 '01119260',
 '01119280',
 '01119320',
 '01119382',
 '01119384',
 '01119480',
 '01119500',
 '01119600',
 '01119820',
 '01120000',
 '01120500',
 '01120790',
 '01120800',
 '01121000',
 '01121330',
 '01122000',
 '01122500',
 '01123000',
 '11230695',
 '01123360',
 '01123500',
 '01123600',
 '01124000',
 '01124151',
 '01124350',
 '01124500',
 '01124750',
 '01125000',
 '01125100',
 '01125415',
 '01125490',
 '01125500',
 '01125600',
 '01126000',
 '01126200',
 '01126500',
 '01126600',
 '01126910',
 '01126923',
 '01126950',
 '01127000',
 '01127500',
 '01127680',
 '01127729',
 '01127750',
 '11277696',
 '11277905',
 '11277914',
 '11277916',
 '01127821',
 '01127880',
 '01128500',
 '01129200',
 '01129440',
 '01129500',
 '01130000',
 '01131500',
 '01133000',
 '01133500',
 '01134500',
 '01134800',
 '01135000',
 '01135100',
 '01135150',
 '01135300',
 '01135500',
 '01136000',
 '01137500',
 '01137940',
 '01138000',
 '01138500',
 '01139000',
 '01139500',
 '01139800',
 '01139830',
 '01139833',
 '01139838',
 '01140000',
 '01140500',
 '01140570',
 '01140575',
 '01140580',
 '01140590',
 '01140600',
 '01140817',
 '01140820',
 '01141500',
 '01141800',
 '01142000',
 '01142500',
 '01143500',
 '01144000',
 '01144500',
 '01145000',
 '01150500',
 '01150800',
 '01150900',
 '01151000',
 '01151500',
 '01152010',
 '01152500',
 '01152800',
 '01153000',
 '01153500',
 '01153550',
 '01154000',
 '01154500',
 '01154950',
 '01155000',
 '01155200',
 '01155300',
 '01155500',
 '01155910',
 '01156000',
 '01156500',
 '01157000',
 '01158000',
 '01158110',
 '01158500',
 '01158600',
 '01159000',
 '01159500',
 '01159600',
 '01160000',
 '01160350',
 '01161000',
 '01161500',
 '01162000',
 '01162500',
 '01163000',
 '01163200',
 '01165300',
 '01165500',
 '01166105',
 '01166500',
 '01167800',
 '01168151',
 '01168250',
 '01168500',
 '01168639',
 '01168640',
 '01169000',
 '01169900',
 '01170000',
 '01170100',
 '01170500',
 '01170930',
 '01171000',
 '01171100',
 '01171300',
 '01171500',
 '01171800',
 '01172000',
 '01172003',
 '01172010',
 '01172500',
 '01172680',
 '01172800',
 '01173000',
 '01173260',
 '01173500',
 '01174000',
 '01174050',
 '01174500',
 '01174565',
 '01174570',
 '01174575',
 '01174600',
 '01174900',
 '01175500',
 '01175670',
 '01176000',
 '01176780',
 '01177000',
 '01178000',
 '01178500',
 '01179500',
 '01180000',
 '01180500',
 '01180800',
 '01181000',
 '01183450',
 '01183500',
 '01183950',
 '01183994',
 '01184000',
 '01184100',
 '01184205',
 '01184250',
 '01184280',
 '01184300',
 '01184325',
 '11844548',
 '11844549',
 '01184455',
 '01184470',
 '01184490',
 '01184500',
 '01185100',
 '01185500',
 '01186000',
 '01186100',
 '01186400',
 '01186500',
 '01187000',
 '01187300',
 '01187400',
 '01187680',
 '01187800',
 '01187830',
 '01187850',
 '01187980',
 '01188000',
 '01188090',
 '01189000',
 '01189180',
 '01189200',
 '01189210',
 '01189390',
 '01189500',
 '01189995',
 '01189999',
 '01190055',
 '01190057',
 '01190070',
 '01190095',
 '01190100',
 '01190200',
 '01190300',
 '01190500',
 '01190600',
 '01190620',
 '01190650',
 '01191000',
 '01191500',
 '01192370',
 '01192480',
 '01192500',
 '01192600',
 '01192610',
 '01192650',
 '01192692',
 '01192700',
 '01192704',
 '01192883',
 '01192890',
 '01193000',
 '01193050',
 '01193348',
 '01193450',
 '01193463',
 '01193465',
 '01193500',
 '01193630',
 '01193800',
 '01194000',
 '01194500',
 '01194750',
 '01194796',
 '01194815',
 '01195000',
 '01195100',
 '01195117',
 '01195146',
 '01195200',
 '01195290',
 '01195339',
 '01195399',
 '01195490',
 '01195500',
 '01196000',
 '01196100',
 '01196150',
 '01196210',
 '01196220',
 '01196259',
 '01196500',
 '01196561',
 '01196580',
 '01196620',
 '01196626',
 '01196680',
 '01197000',
 '01197015',
 '01197300',
 '01197500',
 '01198000',
 '01198030',
 '01198070',
 '01198075',
 '01198122',
 '01198125',
 '01198200',
 '01198240',
 '01198300',
 '01198500',
 '01198700',
 '01198800',
 '01198851',
 '01198860',
 '01198870',
 '01198880',
 '01199000',
 '01199030',
 '01199033',
 '01199050',
 '01199200',
 '01199290',
 '01199490',
 '01200000',
 '01200500',
 '01200600',
 '01201190',
 '01201420',
 '01201470',
 '01201487',
 '01201500',
 '01201510',
 '01201930',
 '01202500',
 '01202501',
 '01203000',
 '12035055',
 '01203510',
 '01203600',
 '01203805',
 '01204000',
 '01204800',
 '01205500',
 '01205600',
 '01205700',
 '01205890',
 '01206000',
 '01206400',
 '01206500',
 '01206900',
 '01208012',
 '01208171',
 '01208500',
 '01208850',
 '01208872',
 '01208873',
 '01208925',
 '01208950',
 '01208990',
 '01208999',
 '01209005',
 '01209105',
 '01209500',
 '12095493',
 '01209700',
 '01209710',
 '01209753',
 '01209761',
 '01209775',
 '01209785',
 '01209900',
 '01209901',
 '01211110',
 '12112296',
 '01211600',
 '01212100',
 '01212500',
 '01300000',
 '01300500',
 '01301000',
 '01301500',
 '01302000',
 '01302020',
 '01302050',
 '01302125',
 '01302250',
 '01302500',
 '01302600',
 '01302845',
 '01303000',
 '01303152',
 '01303500',
 '01304000',
 '01304057',
 '01304200',
 '01304250',
 '01304500',
 '01304562',
 '01304650',
 '01304655',
 '130469525',
 '01304702',
 '01304705',
 '01304746',
 '01304920',
 '01305000',
 '01305500',
 '01305575',
 '01306000',
 '01306402',
 '01306440',
 '01306460',
 '01306495',
 '01306499',
 '01306500',
 '01307000',
 '01307500',
 '01308000',
 '01308500',
 '01309000',
 '01309225',
 '01309500',
 '01309680',
 '01309950',
 '01309990',
 '01310000',
 '01310500',
 '01310521',
 '01310740',
 '131079450',
 '01311000',
 '01311143',
 '01311145',
 '01311500',
 '01311810',
 '01311850',
 '01311875',
 '131199050',
 '01311992',
 '01312000',
 '01313500',
 '01314000',
 '01314500',
 '01315000',
 '01315081',
 '01315170',
 '01315226',
 '01315227',
 '01315500',
 '01316000',
 '01317000',
 '01318000',
 '01318500',
 '01319000',
 '01319500',
 '01320500',
 '01321000',
 '01321500',
 '01322000',
 '01322500',
 '01323000',
 '01323500',
 '01325000',
 '01326500',
 '01327000',
 '01327500',
 '01327600',
 '01327750',
 '01327755',
 '01328000',
 '01328770',
 '01329000',
 '01329490',
 '01329500',
 '01329650',
 '01330000',
 '01330500',
 '01330884',
 '01331095',
 '01331400',
 '01331500',
 '01332000',
 '01332500',
 '01333000',
 '01333500',
 '01334000',
 '01334500',
 '01335000',
 '01335500',
 '01335754',
 '01335770',
 '01335900',
 '01336000',
 '01337005',
 '01338000',
 '01339060',
 '01342500',
 '01342602',
 '01342682',
 '01342730',
 '01342732',
 '01342743',
 '134277112',
 '134277114',
 '134277119',
 '134277121',
 '134277123',
 '01343060',
 '01343403',
 '01343900',
 '01344000',
 '01344500',
 '01344795',
 '01346000',
 '01346500',
 '01347000',
 '01347500',
 '01348000',
 '01349000',
 '01349150',
 '01349527',
 '01349541',
 '01349700',
 '01349705',
 '01349711',
 '01349810',
 '01349840',
 '01349858',
 '01349900',
 '01349950',
 '01350000',
 '01350032',
 '01350035',
 '01350080',
 '01350100',
 '01350101',
 '01350120',
 '01350140',
 '01350180',
 '01350200',
 '01350212',
 '01350355',
 '01350480',
 '01350500',
 '01350750',
 '01351000',
 '01351200',
 '01351298',
 '01351450',
 '01351500',
 '01353995',
 '135403025',
 '01354083',
 '01354230',
 '01354330',
 ...]

In [7]:
section1 = site_no_list[:500]
section1

['01010000',
 '01010070',
 '01010100',
 '01010500',
 '01011000',
 '01012500',
 '01012515',
 '01012520',
 '01012525',
 '01012570',
 '01012960',
 '01013500',
 '01014000',
 '01015000',
 '01015010',
 '01015800',
 '01016500',
 '01017000',
 '01017060',
 '01017290',
 '01017500',
 '01017550',
 '01017900',
 '01017960',
 '01018000',
 '01018009',
 '01018035',
 '01018500',
 '01018900',
 '01019000',
 '01019300',
 '01020000',
 '01021000',
 '01021050',
 '01021060',
 '01021200',
 '01021230',
 '01021466',
 '01021470',
 '01021480',
 '01021500',
 '01022000',
 '01022210',
 '01022250',
 '01022260',
 '01022294',
 '01022295',
 '01022330',
 '01022500',
 '01022800',
 '01022805',
 '01022835',
 '01022840',
 '01022860',
 '10228955',
 '01023000',
 '01024200',
 '01025000',
 '01026000',
 '01027200',
 '01027240',
 '01028000',
 '01029200',
 '01029500',
 '01030000',
 '01030350',
 '01030500',
 '01031000',
 '01031300',
 '01031450',
 '01031500',
 '01031510',
 '01031600',
 '01033000',
 '01033500',
 '01034000',
 '01034500',
 '01035000',
 '01035500',
 '01036000',
 '01036390',
 '01036500',
 '01037000',
 '01037050',
 '01037380',
 '01037700',
 '01038000',
 '01039000',
 '01041000',
 '01042500',
 '01043500',
 '01044550',
 '01045000',
 '01046000',
 '01046500',
 '01047000',
 '01047150',
 '01047200',
 '01047500',
 '01047730',
 '01048000',
 '01048220',
 '01048500',
 '01049000',
 '01049130',
 '01049205',
 '01049218',
 '01049221',
 '01049265',
 '01049270',
 '01049300',
 '01049320',
 '01049330',
 '01049373',
 '01049396',
 '01049500',
 '01049505',
 '01049550',
 '01051620',
 '01051705',
 '01051715',
 '01052500',
 '01053500',
 '01053600',
 '01054000',
 '01054114',
 '01054200',
 '01054300',
 '01054500',
 '01055000',
 '01055100',
 '01055220',
 '01055500',
 '01056000',
 '01056400',
 '01056480',
 '01056505',
 '01057000',
 '01057510',
 '01058005',
 '01058500',
 '01059000',
 '01059010',
 '01059090',
 '01059160',
 '01059500',
 '01059555',
 '01059800',
 '01060000',
 '01063100',
 '01063310',
 '01063452',
 '01063995',
 '01064000',
 '01064118',
 '01064140',
 '01064158',
 '10642505',
 '01064300',
 '01064400',
 '01064485',
 '01064500',
 '01064800',
 '01064801',
 '01065000',
 '01065500',
 '01066000',
 '01066500',
 '01067000',
 '01067500',
 '01067851',
 '01067853',
 '01067950',
 '01068910',
 '01068980',
 '01069500',
 '01069700',
 '01069800',
 '01072100',
 '01072500',
 '01072800',
 '01072850',
 '01072870',
 '01072880',
 '01073000',
 '01073319',
 '01073389',
 '01073460',
 '01073500',
 '10735562',
 '01073587',
 '01073600',
 '01073750',
 '01073785',
 '01073810',
 '01073848',
 '01074500',
 '01074520',
 '01075000',
 '01075500',
 '01075800',
 '01076000',
 '01076500',
 '01077000',
 '01077400',
 '01078000',
 '01079600',
 '01079602',
 '01079900',
 '01080000',
 '01080500',
 '01081000',
 '01081500',
 '01082000',
 '01083000',
 '01083500',
 '01084000',
 '01084500',
 '01085000',
 '01085500',
 '01085800',
 '01086000',
 '01087000',
 '01088000',
 '01088500',
 '01089000',
 '01089100',
 '01089500',
 '01089925',
 '01090500',
 '01090800',
 '01091000',
 '01091500',
 '01092000',
 '01093000',
 '01093800',
 '01093852',
 '01093875',
 '01094000',
 '01094400',
 '01094500',
 '01095000',
 '01095220',
 '01095375',
 '01095434',
 '01095503',
 '01096000',
 '01096500',
 '01096503',
 '109650657',
 '01096508',
 '10965817',
 '10965844',
 '10965852',
 '01096587',
 '10965995',
 '01096835',
 '01096840',
 '01096885',
 '01096906',
 '01096910',
 '01097000',
 '01097300',
 '01097380',
 '01097480',
 '01098320',
 '01098340',
 '01098360',
 '01098450',
 '01098499',
 '01098500',
 '01098530',
 '01098710',
 '01099500',
 '01100000',
 '01100500',
 '01100505',
 '01100549',
 '01100561',
 '01100568',
 '01100571',
 '01100574',
 '01100600',
 '01100627',
 '01100693',
 '11006988',
 '01100700',
 '01100870',
 '01100890',
 '01101000',
 '01101300',
 '01101344',
 '01101400',
 '01101500',
 '01102000',
 '01102029',
 '11020308',
 '01102065',
 '01102345',
 '01102500',
 '01103010',
 '01103025',
 '01103038',
 '01103040',
 '01103050',
 '01103220',
 '01103280',
 '01103305',
 '01103455',
 '01103500',
 '01104000',
 '01104200',
 '01104370',
 '01104405',
 '01104410',
 '01104415',
 '01104420',
 '01104430',
 '01104440',
 '01104453',
 '01104455',
 '01104460',
 '01104475',
 '01104480',
 '01104500',
 '01104615',
 '01104630',
 '01104640',
 '01104660',
 '01104683',
 '01104687',
 '01104705',
 '01104715',
 '01104850',
 '01105000',
 '01105500',
 '01105554',
 '11055566',
 '01105557',
 '01105583',
 '01105584',
 '01105585',
 '01105600',
 '01105606',
 '01105608',
 '11056081',
 '01105638',
 '01105660',
 '01105700',
 '01105730',
 '01105765',
 '01105800',
 '01105870',
 '11058756',
 '01105876',
 '110587880',
 '01105880',
 '110588332',
 '110588340',
 '11058835951',
 '110588364',
 '11058837',
 '110588374',
 '1105883757',
 '01105885',
 '01105895',
 '01105917',
 '01105933',
 '01106000',
 '01106500',
 '01106900',
 '01107000',
 '01107200',
 '01107400',
 '01108000',
 '01108320',
 '01108410',
 '01108500',
 '01109000',
 '01109060',
 '01109070',
 '01109090',
 '01109200',
 '01109220',
 '01109403',
 '01109439',
 '01109500',
 '01109730',
 '01110000',
 '01110500',
 '01111000',
 '01111050',
 '01111212',
 '01111225',
 '01111230',
 '01111300',
 '01111400',
 '01111410',
 '01111500',
 '01112268',
 '01112382',
 '01112500',
 '01112700',
 '01113695',
 '01113710',
 '01113760',
 '01113895',
 '01114000',
 '01114500',
 '01115098',
 '01115100',
 '01115110',
 '01115114',
 '01115120',
 '01115170',
 '01115183',
 '01115184',
 '01115185',
 '01115187',
 '01115190',
 '01115265',
 '01115275',
 '01115276',
 '01115278',
 '01115280',
 '01115297',
 '01115500',
 '01115630',
 '01115670',
 '01115770',
 '01115900',
 '01116000',
 '01116300',
 '01116500',
 '01116905',
 '01117000',
 '01117100',
 '01117350',
 '11173545',
 '01117370',
 '01117410',
 '01117420',
 '01117424',
 '01117430',
 '01117468',
 '01117471',
 '01117472',
 '01117500',
 '01117600',
 '01117800',
 '01118000',
 '01118010',
 '01118300',
 '01118360',
 '01118400',
 '01118500',
 '01118520',
 '01118668',
 '01118700',
 '01119260',
 '01119280',
 '01119320',
 '01119382',
 '01119384',
 '01119480',
 '01119500',
 '01119600',
 '01119820',
 '01120000',
 '01120500',
 '01120790',
 '01120800',
 '01121000',
 '01121330',
 '01122000',
 '01122500',
 '01123000',
 '11230695',
 '01123360',
 '01123500',
 '01123600',
 '01124000',
 '01124151',
 '01124350',
 '01124500',
 '01124750',
 '01125000',
 '01125100',
 '01125415',
 '01125490',
 '01125500',
 '01125600',
 '01126000',
 '01126200',
 '01126500',
 '01126600',
 '01126910',
 '01126923',
 '01126950',
 '01127000']

In [34]:
start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list2 = []

for i in range(0, len(section1), chunk_size):
    chunk = section1[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list2.append(data)

In [53]:
data_list2

[                           00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       450.0             A  01010000
 1977-01-02 00:00:00+00:00       435.0             A  01010000
 1977-01-03 00:00:00+00:00       425.0             A  01010000
 1977-01-04 00:00:00+00:00       410.0             A  01010000
 1977-01-05 00:00:00+00:00       400.0             A  01010000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      2100.0          A, e  01010000
 2006-12-28 00:00:00+00:00      1680.0          A, e  01010000
 2006-12-29 00:00:00+00:00      1390.0          A, e  01010000
 2006-12-30 00:00:00+00:00      1220.0          A, e  01010000
 2006-12-31 00:00:00+00:00      1120.0          A, e  01010000

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1983-10-01 00:00:00+00:00        42.0             A  01010070
 1983-10-02 00:00:00+00:00        37.0             A  01010070
 1983-10-03 00:00:00+00:00        36.0             A  01010070
 1983-10-04 00:00:00+00:00        35.0             A  01010070
 1983-10-05 00:00:00+00:00        70.0             A  01010070
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       188.0          A, e  01010070
 2006-12-28 00:00:00+00:00       152.0          A, e  01010070
 2006-12-29 00:00:00+00:00       128.0          A, e  01010070
 2006-12-30 00:00:00+00:00       119.0          A, e  01010070
 2006-12-31 00:00:00+00:00       115.0          A, e  01010070

 [8493 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-04-07 00:00:00+00:00       580.0             A  01010100
 1977-04-08 00:00:00+00:00       520.0             A  01010100
 1977-04-09 00:00:00+00:00       460.0             A  01010100
 1977-04-10 00:00:00+00:00       420.0             A  01010100
 1977-04-11 00:00:00+00:00       380.0             A  01010100
 ...                               ...           ...       ...
 1980-10-04 00:00:00+00:00       403.0             A  01010100
 1980-10-05 00:00:00+00:00       763.0             A  01010100
 1980-10-06 00:00:00+00:00       590.0             A  01010100
 1980-10-07 00:00:00+00:00       392.0             A  01010100
 1980-10-08 00:00:00+00:00       299.0             A  01010100

 [904 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       705.0             A  01010500
 1977-01-02 00:00:00+00:00       680.0             A  01010500
 1977-01-03 00:00:00+00:00       665.0             A  01010500
 1977-01-04 00:00:00+00:00       655.0             A  01010500
 1977-01-05 00:00:00+00:00       640.0             A  01010500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      4740.0          A, e  01010500
 2006-12-28 00:00:00+00:00      3780.0          A, e  01010500
 2006-12-29 00:00:00+00:00      3030.0          A, e  01010500
 2006-12-30 00:00:00+00:00      2580.0          A, e  01010500
 2006-12-31 00:00:00+00:00      2360.0          A, e  01010500

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       445.0             A  01011000
 1977-01-02 00:00:00+00:00       430.0             A  01011000
 1977-01-03 00:00:00+00:00       420.0             A  01011000
 1977-01-04 00:00:00+00:00       415.0             A  01011000
 1977-01-05 00:00:00+00:00       400.0             A  01011000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1330.0          A, e  01011000
 2006-12-28 00:00:00+00:00      1180.0          A, e  01011000
 2006-12-29 00:00:00+00:00      1070.0          A, e  01011000
 2006-12-30 00:00:00+00:00      1020.0          A, e  01011000
 2006-12-31 00:00:00+00:00       993.0          A, e  01011000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1982-07-15 00:00:00+00:00       28.00             A  01012515
 1982-07-16 00:00:00+00:00        0.42             A  01012515
 1982-07-17 00:00:00+00:00        0.42             A  01012515
 1982-07-18 00:00:00+00:00        0.37             A  01012515
 1982-07-19 00:00:00+00:00        0.33             A  01012515
 ...                               ...           ...       ...
 1984-06-09 00:00:00+00:00       29.00             A  01012515
 1984-06-10 00:00:00+00:00       24.00             A  01012515
 1984-06-11 00:00:00+00:00       21.00             A  01012515
 1984-06-12 00:00:00+00:00       18.00             A  01012515
 1984-06-13 00:00:00+00:00       15.00             A  01012515

 [700 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1980-10-01 00:00:00+00:00        3.00             A  01012520
 1980-10-02 00:00:00+00:00        2.80             A  01012520
 1980-10-03 00:00:00+00:00        2.60             A  01012520
 1980-10-04 00:00:00+00:00        2.50             A  01012520
 1980-10-05 00:00:00+00:00        5.80             A  01012520
 ...                               ...           ...       ...
 1984-09-26 00:00:00+00:00        0.44             A  01012520
 1984-09-27 00:00:00+00:00        0.41             A  01012520
 1984-09-28 00:00:00+00:00        0.38             A  01012520
 1984-09-29 00:00:00+00:00        0.36             A  01012520
 1984-09-30 00:00:00+00:00        0.35             A  01012520

 [1461 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1981-11-05 00:00:00+00:00        2.10             A  01012525
 1981-11-06 00:00:00+00:00        2.00             A  01012525
 1981-11-07 00:00:00+00:00        2.50             A  01012525
 1981-11-08 00:00:00+00:00        2.60             A  01012525
 1981-11-09 00:00:00+00:00        2.20             A  01012525
 ...                               ...           ...       ...
 1984-09-26 00:00:00+00:00        0.27             A  01012525
 1984-09-27 00:00:00+00:00        0.25             A  01012525
 1984-09-28 00:00:00+00:00        0.23             A  01012525
 1984-09-29 00:00:00+00:00        0.22             A  01012525
 1984-09-30 00:00:00+00:00        0.20             A  01012525

 [1061 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1982-07-15 00:00:00+00:00         4.7             A  01012570
 1982-07-16 00:00:00+00:00         4.5             A  01012570
 1982-07-17 00:00:00+00:00         4.2             A  01012570
 1982-07-18 00:00:00+00:00         4.0             A  01012570
 1982-07-19 00:00:00+00:00         3.8             A  01012570
 ...                               ...           ...       ...
 1984-06-08 00:00:00+00:00       190.0             A  01012570
 1984-06-09 00:00:00+00:00       150.0             A  01012570
 1984-06-10 00:00:00+00:00       120.0             A  01012570
 1984-06-11 00:00:00+00:00       100.0             A  01012570
 1984-06-12 00:00:00+00:00        84.0             A  01012570

 [699 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       640.0             A  01013500
 1977-01-02 00:00:00+00:00       630.0             A  01013500
 1977-01-03 00:00:00+00:00       610.0             A  01013500
 1977-01-04 00:00:00+00:00       600.0             A  01013500
 1977-01-05 00:00:00+00:00       585.0             A  01013500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1120.0             A  01013500
 2006-12-28 00:00:00+00:00      1090.0             A  01013500
 2006-12-29 00:00:00+00:00      1050.0          A, e  01013500
 2006-12-30 00:00:00+00:00      1010.0          A, e  01013500
 2006-12-31 00:00:00+00:00       977.0          A, e  01013500

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      3200.0             A  01014000
 1977-01-02 00:00:00+00:00      3050.0             A  01014000
 1977-01-03 00:00:00+00:00      2900.0             A  01014000
 1977-01-04 00:00:00+00:00      2850.0             A  01014000
 1977-01-05 00:00:00+00:00      2800.0             A  01014000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      9140.0          A, e  01014000
 2006-12-28 00:00:00+00:00      7740.0          A, e  01014000
 2006-12-29 00:00:00+00:00      6450.0          A, e  01014000
 2006-12-30 00:00:00+00:00      5700.0          A, e  01014000
 2006-12-31 00:00:00+00:00      5350.0          A, e  01014000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       280.0             A  01015800
 1977-01-02 00:00:00+00:00       270.0             A  01015800
 1977-01-03 00:00:00+00:00       265.0             A  01015800
 1977-01-04 00:00:00+00:00       260.0             A  01015800
 1977-01-05 00:00:00+00:00       255.0             A  01015800
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1630.0          A, e  01015800
 2006-12-28 00:00:00+00:00      1270.0          A, e  01015800
 2006-12-29 00:00:00+00:00      1080.0          A, e  01015800
 2006-12-30 00:00:00+00:00       977.0          A, e  01015800
 2006-12-31 00:00:00+00:00      1030.0          A, e  01015800

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       100.0             A  01016500
 1977-01-02 00:00:00+00:00        98.0             A  01016500
 1977-01-03 00:00:00+00:00        95.0             A  01016500
 1977-01-04 00:00:00+00:00        91.0             A  01016500
 1977-01-05 00:00:00+00:00        88.0             A  01016500
 ...                               ...           ...       ...
 1983-10-17 00:00:00+00:00       322.0             A  01016500
 1983-10-18 00:00:00+00:00       290.0             A  01016500
 1983-10-19 00:00:00+00:00       268.0             A  01016500
 1983-10-20 00:00:00+00:00       243.0             A  01016500
 1983-10-21 00:00:00+00:00       225.0             A  01016500

 [2485 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       530.0             A  01017000
 1977-01-02 00:00:00+00:00       520.0             A  01017000
 1977-01-03 00:00:00+00:00       500.0             A  01017000
 1977-01-04 00:00:00+00:00       490.0             A  01017000
 1977-01-05 00:00:00+00:00       485.0             A  01017000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      2520.0          A, e  01017000
 2006-12-28 00:00:00+00:00      2220.0          A, e  01017000
 2006-12-29 00:00:00+00:00      1800.0          A, e  01017000
 2006-12-30 00:00:00+00:00      1560.0          A, e  01017000
 2006-12-31 00:00:00+00:00      1520.0          A, e  01017000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1999-11-01 00:00:00+00:00        8.00          A, e  01017550
 1999-11-02 00:00:00+00:00        7.20          A, e  01017550
 1999-11-03 00:00:00+00:00       12.00          A, e  01017550
 1999-11-04 00:00:00+00:00       19.00             A  01017550
 1999-11-05 00:00:00+00:00        9.40             A  01017550
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00        5.13          A, e  01017550
 2006-12-28 00:00:00+00:00        4.46          A, e  01017550
 2006-12-29 00:00:00+00:00        3.41          A, e  01017550
 2006-12-30 00:00:00+00:00        3.26          A, e  01017550
 2006-12-31 00:00:00+00:00        3.19          A, e  01017550

 [2618 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00        0.84             A  01017900
 1977-01-02 00:00:00+00:00        0.82             A  01017900
 1977-01-03 00:00:00+00:00        0.80             A  01017900
 1977-01-04 00:00:00+00:00        0.79             A  01017900
 1977-01-05 00:00:00+00:00        0.78             A  01017900
 ...                               ...           ...       ...
 1982-10-03 00:00:00+00:00        1.70             A  01017900
 1982-10-04 00:00:00+00:00        1.20             A  01017900
 1982-10-05 00:00:00+00:00        0.94             A  01017900
 1982-10-06 00:00:00+00:00        0.80             A  01017900
 1982-10-07 00:00:00+00:00        0.76             A  01017900

 [2106 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2003-10-01 00:00:00+00:00        65.1             A  01017960
 2003-10-02 00:00:00+00:00        51.7             A  01017960
 2003-10-03 00:00:00+00:00        58.3             A  01017960
 2003-10-04 00:00:00+00:00        56.5             A  01017960
 2003-10-05 00:00:00+00:00        98.6             A  01017960
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       193.0          A, e  01017960
 2006-12-28 00:00:00+00:00       151.0          A, e  01017960
 2006-12-29 00:00:00+00:00       132.0          A, e  01017960
 2006-12-30 00:00:00+00:00       121.0          A, e  01017960
 2006-12-31 00:00:00+00:00       114.0          A, e  01017960

 [1188 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       115.0             A  01018000
 1977-01-02 00:00:00+00:00       110.0             A  01018000
 1977-01-03 00:00:00+00:00       105.0             A  01018000
 1977-01-04 00:00:00+00:00        94.0             A  01018000
 1977-01-05 00:00:00+00:00        87.0             A  01018000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       380.0             A  01018000
 2006-12-28 00:00:00+00:00       296.0          A, e  01018000
 2006-12-29 00:00:00+00:00       261.0          A, e  01018000
 2006-12-30 00:00:00+00:00       234.0          A, e  01018000
 2006-12-31 00:00:00+00:00       221.0          A, e  01018000

 [3294 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2005-07-01 00:00:00+00:00       146.0             A  01018035
 2005-07-02 00:00:00+00:00       134.0             A  01018035
 2005-07-03 00:00:00+00:00       119.0             A  01018035
 2005-07-04 00:00:00+00:00       106.0             A  01018035
 2005-07-05 00:00:00+00:00        92.0             A  01018035
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       535.0             A  01018035
 2006-12-28 00:00:00+00:00       408.0          A, e  01018035
 2006-12-29 00:00:00+00:00       361.0          A, e  01018035
 2006-12-30 00:00:00+00:00       322.0          A, e  01018035
 2006-12-31 00:00:00+00:00       306.0          A, e  01018035

 [549 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       518.0             A  01018500
 1977-01-02 00:00:00+00:00       519.0             A  01018500
 1977-01-03 00:00:00+00:00       519.0             A  01018500
 1977-01-04 00:00:00+00:00       519.0             A  01018500
 1977-01-05 00:00:00+00:00       519.0             A  01018500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       835.0             A  01018500
 2006-12-28 00:00:00+00:00       767.0             A  01018500
 2006-12-29 00:00:00+00:00       766.0             A  01018500
 2006-12-30 00:00:00+00:00       764.0             A  01018500
 2006-12-31 00:00:00+00:00       762.0             A  01018500

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       350.0             A  01019000
 1977-01-02 00:00:00+00:00       350.0             A  01019000
 1977-01-03 00:00:00+00:00       345.0             A  01019000
 1977-01-04 00:00:00+00:00       340.0             A  01019000
 1977-01-05 00:00:00+00:00       340.0             A  01019000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       134.0             A  01019000
 2006-12-28 00:00:00+00:00       134.0             A  01019000
 2006-12-29 00:00:00+00:00       136.0          A, e  01019000
 2006-12-30 00:00:00+00:00       137.0          A, e  01019000
 2006-12-31 00:00:00+00:00       138.0          A, e  01019000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      2340.0             A  01020000
 1977-01-02 00:00:00+00:00      2350.0             A  01020000
 1977-01-03 00:00:00+00:00      2350.0             A  01020000
 1977-01-04 00:00:00+00:00      2320.0             A  01020000
 1977-01-05 00:00:00+00:00      2310.0             A  01020000
 ...                               ...           ...       ...
 1983-09-26 00:00:00+00:00      1800.0             A  01020000
 1983-09-27 00:00:00+00:00      1790.0             A  01020000
 1983-09-28 00:00:00+00:00      1790.0             A  01020000
 1983-09-29 00:00:00+00:00      1790.0             A  01020000
 1983-09-30 00:00:00+00:00      1790.0             A  01020000

 [2464 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      2360.0             A  01021000
 1977-01-02 00:00:00+00:00      2260.0             A  01021000
 1977-01-03 00:00:00+00:00      2300.0             A  01021000
 1977-01-04 00:00:00+00:00      2520.0             A  01021000
 1977-01-05 00:00:00+00:00      2500.0             A  01021000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      3370.0             A  01021000
 2006-12-28 00:00:00+00:00      2730.0             A  01021000
 2006-12-29 00:00:00+00:00      2900.0             A  01021000
 2006-12-30 00:00:00+00:00      2780.0             A  01021000
 2006-12-31 00:00:00+00:00      2710.0             A  01021000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       218.0             A  01021200
 1977-01-02 00:00:00+00:00       196.0             A  01021200
 1977-01-03 00:00:00+00:00       175.0             A  01021200
 1977-01-04 00:00:00+00:00       161.0             A  01021200
 1977-01-05 00:00:00+00:00       157.0             A  01021200
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       288.0             A  01021200
 2006-12-28 00:00:00+00:00       220.0             A  01021200
 2006-12-29 00:00:00+00:00       170.0             A  01021200
 2006-12-30 00:00:00+00:00       170.0          A, e  01021200
 2006-12-31 00:00:00+00:00       140.0             A  01021200

 [9990 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2004-05-20 00:00:00+00:00       71.10          A, e  01021230
 2004-05-21 00:00:00+00:00       59.10             A  01021230
 2004-05-22 00:00:00+00:00       54.30             A  01021230
 2004-05-23 00:00:00+00:00       55.10             A  01021230
 2004-05-24 00:00:00+00:00       58.60             A  01021230
 ...                               ...           ...       ...

In [54]:
sec1 = pd.concat(data_list2)
section1 = sec1.to_csv('section1.csv')

In [55]:
pd.read_csv('section1.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_1632/3710991460.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section1.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_upstream site_Mean,00060_upstream site_Mean_cd,00060_mystic valley parkway_Mean,00060_mystic valley parkway_Mean_cd,00060_2_Mean,00060_2_Mean_cd
0,1977-01-01 00:00:00+00:00,450.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,435.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,425.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,410.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,400.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1528547,2006-12-27 00:00:00+00:00,1940.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528548,2006-12-28 00:00:00+00:00,1740.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528549,2006-12-29 00:00:00+00:00,1580.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528550,2006-12-30 00:00:00+00:00,1440.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528551,2006-12-31 00:00:00+00:00,1350.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
section2 = site_no_list[501:1000]

In [51]:
start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list3 = []

for i in range(0, len(section2), chunk_size):
    chunk = section2[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list3.append(data)

In [52]:
sec2 = pd.concat(data_list3)
section2 = sec2.to_csv('section2.csv')
pd.read_csv('section2.csv')

         00060_Mean 00060_Mean_cd  site_no
0               3.8             A  1127880
1               3.8             A  1127880
2               3.9             A  1127880
3               3.8             A  1127880
4               3.1             A  1127880
...             ...           ...      ...
1655172      1190.0             A  1351500
1655173       873.0             A  1351500
1655174       726.0             A  1351500
1655175       643.0             A  1351500
1655176       606.0             A  1351500

[1655177 rows x 3 columns]

In [8]:
section3 = site_no_list[1001:1500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list4 = []

for i in range(0, len(section3), chunk_size):
    chunk = section3[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list4.append(data)
        
sec3 = pd.concat(data_list4)
section3 = sec3.to_csv('section3.csv')
pd.read_csv('section3.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/1791794883.py:20: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section3.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_2_Mean,00060_2_Mean_cd,00060_upstream of dam_Mean,00060_upstream of dam_Mean_cd,00060_downstream of dam_Mean,00060_downstream of dam_Mean_cd
0,1993-08-26 00:00:00+00:00,1.30,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-27 00:00:00+00:00,1.20,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-28 00:00:00+00:00,1.20,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-29 00:00:00+00:00,1.10,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-30 00:00:00+00:00,0.96,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1272165,2006-12-27 00:00:00+00:00,3480.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272166,2006-12-28 00:00:00+00:00,3150.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272167,2006-12-29 00:00:00+00:00,2850.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272168,2006-12-30 00:00:00+00:00,2500.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272169,2006-12-31 00:00:00+00:00,2140.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
section4 = site_no_list[1501:2000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list5 = []

for i in range(0, len(section4), chunk_size):
    chunk = section4[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list5.append(data)
        
sec4 = pd.concat(data_list5)
section4 = sec4.to_csv('section4.csv')
pd.read_csv('section4.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/1526296035.py:20: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section4.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_2_Mean,00060_2_Mean_cd
0,1977-01-01 00:00:00+00:00,56.00,A,1427500,NaN,NaN
1,1977-01-02 00:00:00+00:00,56.00,A,1427500,NaN,NaN
2,1977-01-03 00:00:00+00:00,56.00,A,1427500,NaN,NaN
3,1977-01-04 00:00:00+00:00,56.00,A,1427500,NaN,NaN
4,1977-01-05 00:00:00+00:00,54.00,A,1427500,NaN,NaN
...,...,...,...,...,...,...
1226625,2005-09-25 00:00:00+00:00,7.78,A,1484270,NaN,NaN
1226626,2005-09-26 00:00:00+00:00,7.27,A,1484270,NaN,NaN
1226627,2005-09-27 00:00:00+00:00,8.50,A,1484270,NaN,NaN
1226628,2005-09-28 00:00:00+00:00,8.69,A,1484270,NaN,NaN
1226629,2005-09-29 00:00:00+00:00,8.58,A,1484270,NaN,NaN

In [10]:
section5 = site_no_list[2001:2500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list6 = []

for i in range(0, len(section5), chunk_size):
    chunk = section5[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list6.append(data)
        
sec5 = pd.concat(data_list6)
section5 = sec5.to_csv('section5.csv')
pd.read_csv('section5.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/2200115470.py:20: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section5.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_daily mean with diversions_Mean,00060_daily mean with diversions_Mean_cd,00060_discontinued_Mean,00060_discontinued_Mean_cd
0,1977-01-01 00:00:00+00:00,10.0,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,8.0,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,7.7,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,7.9,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,8.4,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1568505,2006-12-27 00:00:00+00:00,43.1,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568506,2006-12-28 00:00:00+00:00,38.9,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568507,2006-12-29 00:00:00+00:00,36.2,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568508,2006-12-30 00:00:00+00:00,34.6,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568509,2006-12-31 00:00:00+00:00,33.7,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
section6 = site_no_list[2501:3000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list7 = []

for i in range(0, len(section6), chunk_size):
    chunk = section6[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list7.append(data)
        
sec6 = pd.concat(data_list7)
section6 = sec6.to_csv('section6.csv')
pd.read_csv('section6.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3312528299.py:20: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section6.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_discontinued_Mean,00060_discontinued_Mean_cd
0,1977-01-01 00:00:00+00:00,73.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,75.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,80.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,80.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,80.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1876248,2006-12-27 00:00:00+00:00,313.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876249,2006-12-28 00:00:00+00:00,354.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876250,2006-12-29 00:00:00+00:00,380.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876251,2006-12-30 00:00:00+00:00,413.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876252,2006-12-31 00:00:00+00:00,400.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
section7 = site_no_list[3001:3500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list8 = []

for i in range(0, len(section7), chunk_size):
    chunk = section7[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list8.append(data)
        
sec7 = pd.concat(data_list8)
section7 = sec7.to_csv('section7.csv')
pd.read_csv('section7.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/1091893593.py:20: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section7.csv')

,datetime,00060_Maximum,00060_Maximum_cd,site_no,00060_Minimum,00060_Minimum_cd,00060_Mean,00060_Mean_cd
0,2006-01-05 00:00:00+00:00,593.0,A,2043120,-234.0,A,69.9,A
1,2006-01-06 00:00:00+00:00,1410.0,A,2043120,-319.0,A,299.0,A
2,2006-01-07 00:00:00+00:00,522.0,A,2043120,-279.0,A,NaN,NaN
3,2006-01-08 00:00:00+00:00,280.0,A,2043120,-293.0,A,NaN,NaN
4,2006-01-09 00:00:00+00:00,546.0,A,2043120,-288.0,A,NaN,NaN
...,...,...,...,...,...,...,...,...
1574137,2006-12-27 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,102.0,A
1574138,2006-12-28 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,90.0,A
1574139,2006-12-29 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,84.5,A
1574140,2006-12-30 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,80.3,A
1574141,2006-12-31 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,88.8,A

In [13]:
section8 = site_no_list[3501:4000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list9 = []

for i in range(0, len(section8), chunk_size):
    chunk = section8[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list9.append(data)
        
sec8 = pd.concat(data_list9)
section8 = sec8.to_csv('section8.csv')
pd.read_csv('section8.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3949758669.py:20: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section8.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_2_Mean,00060_2_Mean_cd,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_daily mean_Mean,00060_daily mean_Mean_cd
0,1977-01-01 00:00:00+00:00,0.20,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,0.18,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,0.25,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,0.35,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,0.38,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1434144,1992-01-29 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,561.0,A,475.0,A,NaN,NaN
1434145,1992-01-30 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,472.0,A,366.0,A,NaN,NaN
1434146,1992-01-31 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,365.0,A,303.0,A,NaN,NaN
1434147,1992-02-01 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,300.0,A,270.0,A,NaN,NaN
1434148,1992-02-02 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,270.0,A,241.0,A,NaN,NaN

In [14]:
section9 = site_no_list[4001:4500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list10 = []

for i in range(0, len(section9), chunk_size):
    chunk = section9[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list10.append(data)
        
sec9 = pd.concat(data_list10)
section9 = sec9.to_csv('section9.csv')
pd.read_csv('section9.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/2883258826.py:20: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section9.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_from usacoe buffalo_Mean,00060_from usacoe buffalo_Mean_cd,00060_river channel only_Mean,00060_river channel only_Mean_cd
0,1977-01-01 00:00:00+00:00,72.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,72.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,72.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,68.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,76.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1420385,2006-12-27 00:00:00+00:00,134.0,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420386,2006-12-28 00:00:00+00:00,63.9,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420387,2006-12-29 00:00:00+00:00,48.4,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420388,2006-12-30 00:00:00+00:00,45.4,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420389,2006-12-31 00:00:00+00:00,490.0,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
section10 = site_no_list[4501:5000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list11 = []

for i in range(0, len(section10), chunk_size):
    chunk = section10[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list11.append(data)
        
sec10 = pd.concat(data_list11)
section10 = sec10.to_csv('section10.csv')
pd.read_csv('section10.csv')

[Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],

In [25]:
site_no_list[4501:5000]

['363342076261101',
 '363342076261103',
 '363507076050000',
 '363540076532701',
 '363600078181601',
 '363625076522602',
 '363625076522603',
 '363632076580101',
 '363642076312501',
 '363655076332002',
 '363655076332003',
 '363655076332004',
 '363655076332005',
 '363655076332006',
 '363655076332007',
 '363655076332008',
 '363655076332009',
 '363714076063501',
 '363714076063502',
 '363749083430701',
 '363812076021201',
 '363812076021202',
 '363906077000301',
 '363906077000302',
 '363906077000403',
 '363906077000404',
 '363906077000405',
 '363906077000406',
 '363906077000407',
 '363916077201002',
 '363916077201003',
 '363916077201004',
 '363916077201005',
 '363916077201006',
 '363928076332901',
 '363949076542602',
 '363949076542603',
 '363949076542604',
 '363949076542605',
 '363949076542606',
 '363949076542607',
 '363949076542608',
 '363949076542609',
 '364022082450201',
 '364028076270101',
 '364030081353201',
 '364033076562602',
 '364033076562603',
 '364033076562604',
 '364059076544901',
 '364101076544802',
 '364101076544803',
 '364109077230701',
 '364109081585901',
 '364125076544801',
 '364126076003501',
 '364126076013401',
 '364146076245401',
 '364218078015701',
 '364227076074707',
 '364227076074708',
 '364238076214001',
 '364238076232201',
 '364251076235101',
 '364258076261301',
 '364259076262300',
 '364259076262301',
 '364259076262601',
 '364312076212001',
 '364317076294501',
 '364325076011501',
 '364326083383101',
 '364335076231301',
 '364335076231601',
 '364336076231400',
 '364352076005401',
 '364354076245001',
 '364358076001600',
 '364410076002801',
 '364444075564400',
 '364501076035200',
 '364504076031301',
 '364512076343701',
 '364512076343702',
 '364512076343705',
 '364558076074401',
 '364558076074501',
 '364608076534601',
 '364608076534602',
 '364619076274201',
 '364619076274303',
 '364642077041602',
 '364642077041603',
 '364642077041604',
 '364642077041605',
 '364703076383702',
 '364703076383703',
 '364711076085500',
 '364713076030701',
 '364715076030801',
 '364728075591900',
 '364732080070301',
 '364743076061600',
 '364745076004302',
 '364745076004303',
 '364745076004304',
 '364814076440701',
 '364814076440702',
 '364814076440704',
 '364852076111800',
 '364852076252202',
 '364852076252203',
 '364920076093201',
 '364920076093202',
 '364926076052600',
 '365038075590800',
 '365046076041601',
 '365046076041602',
 '365116081285501',
 '365124075590701',
 '365124075590702',
 '365124075590703',
 '365133076351202',
 '365133076351203',
 '365138084264101',
 '365141076053100',
 '365150076051101',
 '365154076020100',
 '365155076020201',
 '365210088391301',
 '365212076091202',
 '365256076032001',
 '365256076032002',
 '365307076055301',
 '365307076055302',
 '365314081460301',
 '365333076095600',
 '365337076251601',
 '365337076251602',
 '365337076251603',
 '365337076251604',
 '365337076251606',
 '365337076251607',
 '365411076071601',
 '365411076071602',
 '365416076074000',
 '365423076051300',
 '365433082033901',
 '365438075592900',
 '365454077014402',
 '365454077014403',
 '365454077014404',
 '365454077014405',
 '365454077014406',
 '365454077014407',
 '365454077014408',
 '365530077104002',
 '365530077104006',
 '365530077104007',
 '365538086281001',
 '365751076433501',
 '365751076433502',
 '365751076433503',
 '365756076251201',
 '365853085495801',
 '370053076533901',
 '370053076533902',
 '370053076533903',
 '370109088134901',
 '370134085340601',
 '370211085364301',
 '370235077114001',
 '370235077114002',
 '370235077114003',
 '370235077114004',
 '370342086080101',
 '370408076460101',
 '370443082022301',
 '370444088473801',
 '370516088504401',
 '370546081500901',
 '370551088510401',
 '370604082403901',
 '370654082482501',
 '370712076413203',
 '370733081332901',
 '370733087291201',
 '370757084045001',
 '370812080261901',
 '370841076275202',
 '370841076275204',
 '370934076251402',
 '370934076251405',
 '371033082374301',
 '371040076351701',
 '371118075563501',
 '371120075564102',
 '371120075564104',
 '371121075564602',
 '371121075564605',
 '371121075565001',
 '371122078114401',
 '371125075570205',
 '371128075572101',
 '371132076405501',
 '371132076405502',
 '371136075574801',
 '371136075580201',
 '371145075565901',
 '371145075580301',
 '371208076341101',
 '371208076341102',
 '371208076341103',
 '371208076341104',
 '371208076341105',
 '371208076341106',
 '371210076441004',
 '371210076441005',
 '371211076441002',
 '371239076455707',
 '371240076455604',
 '371241076455501',
 '371301075584401',
 '371307075583601',
 '371339079554400',
 '371348076333501',
 '371348076333502',
 '371348076333503',
 '371348076333504',
 '371359076365001',
 '371359076365002',
 '371359076365003',
 '371359076365004',
 '371403076342801',
 '371403076342802',
 '371403076342803',
 '371440076314701',
 '371440076314702',
 '371440076314703',
 '371543076003401',
 '371544076371401',
 '371544076371402',
 '371544076371403',
 '371619076345101',
 '371619076345102',
 '371619076345103',
 '371644077244601',
 '371653079552101',
 '371841081584201',
 '371916076375901',
 '372053078493801',
 '372145076493201',
 '372150079422301',
 '372156076431702',
 '372156076431703',
 '372223080234801',
 '372224079423601',
 '372322081241501',
 '372506076511701',
 '372506076511702',
 '372506076511703',
 '372506076511704',
 '372506076511705',
 '372506076511706',
 '372511082011601',
 '372519077264701',
 '372519077264702',
 '372519077264703',
 '372519077264704',
 '372535076581301',
 '372535076581302',
 '372535076581303',
 '372535076581304',
 '372535076581305',
 '372535076581306',
 '372543079295400',
 '372543079295401',
 '372543079295402',
 '372543079295403',
 '372546076532901',
 '372606081530001',
 '372608078404601',
 '372608081530201',
 '372621076404201',
 '372621076404202',
 '372621076404203',
 '372621076404301',
 '372634081524601',
 '372641076235301',
 '372641076235303',
 '372641076235304',
 '372641076235305',
 '372705075555903',
 '372934076514601',
 '373031080055301',
 '373054076584501',
 '373117077210201',
 '373125077185001',
 '373126076454101',
 '373146078161201',
 '373234080320101',
 '373235076482201',
 '373235076482302',
 '373235076482303',
 '373235076482304',
 '373235076482305',
 '373235076482306',
 '373235076482307',
 '373301077194001',
 '373316077125202',
 '373316077125203',
 '373428077233001',
 '373452081254301',
 '373554081493401',
 '373602081203901',
 '373701081271301',
 '373737077083201',
 '373749081262701',
 '373758079271601',
 '373818081234301',
 '373839081255201',
 '373924077223001',
 '373924077223002',
 '373924077223003',
 '373949081280501',
 '374052081270801',
 '374052081283201',
 '374057081281401',
 '374112081270601',
 '374151085413201',
 '374425075400001',
 '374425075400002',
 '374425075400003',
 '374441077121802',
 '374441077121803',
 '374441077121804',
 '374441077121805',
 '375006076183101',
 '375213076190202',
 '375213076190203',
 '375213076190204',
 '375213076190205',
 '375213076190206',
 '375213076190207',
 '375213076190208',
 '375213076190209',
 '375213076190210',
 '375419079245201',
 '375635075271501',
 '375635075271502',
 '375635075271503',
 '375635075271504',
 '375635075271505',
 '375723075344404',
 '375747080465901',
 '375817085585801',
 '375833082212101',
 '375833085575601',
 '375840079362701',
 '375856085581802',
 '375918085591901',
 '375920085584301',
 '375927085570801',
 '375928084362001',
 '375929085583301',
 '375936086001301',
 '375937085592101',
 '375941085580901',
 '375942085583901',
 '375944085591002',
 '375947085585501',
 '375951085582101',
 '380249084295001',
 '380252079472801',
 '380425083091901',
 '380457075122301',
 '380457075122302',
 '380512075125401',
 '380512075125402',
 '380527075124101',
 '380527075124102',
 '380528075124301',
 '380616075380701',
 '380653080155301',
 '380730075110401',
 '380730075110402',
 '380731075105601',
 '380731075105602',
 '380731075111101',
 '380731075111102',
 '380734075111301',
 '380734075111302',
 '380837075112201',
 '380837075112202',
 '380839077515701',
 '381002078094201',
 '381010077021901',
 '381110076550501',
 '381132076551001',
 '381155075091801',
 '381155075091802',
 '381157075092901',
 '381157075092902',
 '381427075081102',
 '381428075081401',
 '381428075081402',
 '381428075081403',
 '381441085452701',
 '381447081393101',
 '381450075075401',
 '381450075075402',
 '381452075075901',
 '381452075075902',
 '381452075080101',
 '381452075080102',
 '381513081094201',
 '381518085453402',
 '381518085454401',
 '381524083341601',
 '381527085453001',
 '381528085454201',
 '381532083342501',
 '381537083341001',
 '381537083342201',
 '381538083342002',
 '381538083342004',
 '381538083342005',
 '381539083341901',
 '381539083341902',
 '381539083342001',
 '381540083341801',
 '381540083342001',
 '381540083342002',
 '381541083341701',
 '381543083341501',
 '381613085422801',
 '381619081392901',
 '381638085415801',
 '381653085413302',
 '381701085414002',
 '381737077024601',
 '381737077024602',
 '381746077020001',
 '381746077020002',
 '381759077011401',
 '381759077011402',
 '381759077025701',
 '381804075063401',
 '381804075063402',
 '381805075063501',
 '381805075063502',
 '381806075063201',
 '381806075063301',
 '381812077015201',
 '381814077030301',
 '381814077030302',
 '381825077021101',
 '381829077040101',
 '381829077040102',
 '381835077015601',
 '381835077015602',
 '381857077032701',
 '381857077032702',
 '381909076043301',
 '381915077020301',
 '381915077020302',
 '381915077020303',
 '381917076035501',
 '381917076042801',
 '381919076041701',
 '381922076043001',
 '381922076043002',
 '381923076043501',
 '381924076043801',
 '381924076043901',
 '381925076043001',
 '381926076043401',
 '381929076043001',
 '381929076043002',
 '381949077013101',
 '381956076275301',
 '382004077015701',
 '382008080292801',
 '382014077020101',
 '382016085382601',
 '382017077030401',
 '382037085381101',
 '382038075065901',
 '382039085375201',
 '382048077015201',
 '382051085380801',
 '382054085380602',
 '382102085380701',
 '382103077025401',
 '382103077025402',
 '382103077025403',
 '382105085375101',
 '382113077024101',
 '382127077013301']

In [16]:
section11 = site_no_list[5001:5500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list12 = []

for i in range(0, len(section11), chunk_size):
    chunk = section11[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list12.append(data)
        
sec11 = pd.concat(data_list12)
section11 = sec11.to_csv('section11.csv')
pd.read_csv('section11.csv')

                       datetime  00060_Mean 00060_Mean_cd          site_no
0     1977-01-01 00:00:00+00:00        0.00             A  383231076411301
1     1977-01-02 00:00:00+00:00        0.12             A  383231076411301
2     1977-01-03 00:00:00+00:00        0.00             A  383231076411301
3     1977-01-04 00:00:00+00:00        0.21             A  383231076411301
4     1977-01-05 00:00:00+00:00        0.00             A  383231076411301
...                         ...         ...           ...              ...
2189  1989-09-29 00:00:00+00:00        0.59             A  391805077550701
2190  1989-09-30 00:00:00+00:00        0.59             A  391805077550701
2191  1989-10-01 00:00:00+00:00        0.55             A  391805077550701
2192  1989-10-02 00:00:00+00:00        0.78             A  391805077550701
2193  1989-10-03 00:00:00+00:00        0.61             A  391805077550701

[2194 rows x 4 columns]

In [18]:
section12 = site_no_list[5501:6000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list13 = []

for i in range(0, len(section12), chunk_size):
    chunk = section12[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list13.append(data)
        
sec12 = pd.concat(data_list13)
section12 = sec12.to_csv('section12.csv')
pd.read_csv('section12.csv')

                       datetime  00060_Mean 00060_Mean_cd          site_no
0     2000-08-02 00:00:00+00:00        3.30             A  403542076263201
1     2000-08-03 00:00:00+00:00        2.30             A  403542076263201
2     2000-08-04 00:00:00+00:00        2.10             A  403542076263201
3     2000-08-05 00:00:00+00:00        3.20             A  403542076263201
4     2000-08-06 00:00:00+00:00        2.10             A  403542076263201
...                         ...         ...           ...              ...
2338  2006-12-27 00:00:00+00:00        5.43             A  403542076263201
2339  2006-12-28 00:00:00+00:00        6.86             A  403542076263201
2340  2006-12-29 00:00:00+00:00        6.54             A  403542076263201
2341  2006-12-30 00:00:00+00:00        7.53             A  403542076263201
2342  2006-12-31 00:00:00+00:00        8.13             A  403542076263201

[2343 rows x 4 columns]

In [19]:
section13 = site_no_list[6000:]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list14 = []

for i in range(0, len(section13), chunk_size):
    chunk = section13[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list14.append(data)
        
sec13 = pd.concat(data_list14)
section13 = sec13.to_csv('section13.csv')
pd.read_csv('section13.csv')

                      datetime  00060_Mean 00060_Mean_cd          site_no
0    1988-02-01 00:00:00+00:00        56.0          A, e  411214079465802
1    1988-02-02 00:00:00+00:00       160.0          A, e  411214079465802
2    1988-02-03 00:00:00+00:00       100.0          A, e  411214079465802
3    1988-02-04 00:00:00+00:00        60.0          A, e  411214079465802
4    1988-02-05 00:00:00+00:00        42.0          A, e  411214079465802
..                         ...         ...           ...              ...
270  1988-10-28 00:00:00+00:00         4.9             A  411214079465802
271  1988-10-29 00:00:00+00:00         4.7             A  411214079465802
272  1988-10-30 00:00:00+00:00         4.3             A  411214079465802
273  1988-10-31 00:00:00+00:00         4.0             A  411214079465802
274  1988-11-01 00:00:00+00:00         4.0             A  411214079465802

[275 rows x 4 columns]

In [30]:
section_1 = pd.read_csv('section1.csv')
section_2 = pd.read_csv('section2.csv')
section_3 = pd.read_csv('section3.csv')
section_4 = pd.read_csv('section4.csv')
section_5 = pd.read_csv('section5.csv')
section_6 = pd.read_csv('section6.csv')
section_7 = pd.read_csv('section7.csv')
section_8 = pd.read_csv('section8.csv')
section_9 = pd.read_csv('section9.csv')
section_11 = pd.read_csv('section11.csv')
section_12 = pd.read_csv('section12.csv')
section_13 = pd.read_csv('section13.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  section_1 = pd.read_csv('section1.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:3: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  section_3 = pd.read_csv('section3.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  section_4 = pd.read_csv('section4.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:5: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  section_5 = pd.read_csv('section5.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:6: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  section_6 = pd.read_csv('section6.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:7: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  section_7 = pd.read_csv('section7.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:8: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  section_8 = pd.read_csv('section8.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:9: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  section_9 = pd.read_csv('section9.csv')

In [46]:
alldata = pd.concat([section_1, section_2, section_3, section_4, section_5, section_6, section_7, section_8, section_9, section_11, section_12, section_13])

alldatadf = alldata[['00060_Mean', 'site_no', 'datetime']]

alldatadf.to_csv('streamdatadf.csv')

https://help.waterdata.usgs.gov/code/parameter_cd_query?fmt=rdb&group_cd=PHY&inline=true

This site contains info for the physical parameter codes USGS uses. 

The data does not appear to contain anything other than a daily value, just for the mean?

https://help.waterdata.usgs.gov/stat_code - this has the statistic code descriptions